<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ахмат</title>
</head>
<body class="intro-header" style="background-image: url('static/img/achmat.jpg')">
<h1><p style="color:#00FFFF">Ахмат</p></h1>
 <div><p style="color:#00FFFF">Тренер: Игорь Шалимов</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Евгений Городов(16)</p></div>
 <div><p style="color:#00FFFF">Защитники: Андрей Семенов(15), Вилькер Анхель(4), Ризван Уциев(40), Зоран Нижич(20), Магомед Мусалов(5), Максим Ненахов(3), Мирослав Богосовац(8)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Одисе Роши(21), Денис Глушаков(88), Исмаэл(11), Олег Иванов(19), Раванелли(14), Антон Швец(23), Лечи Садулаев(22)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Андрес Понсе(18), Аблай Мбенг(17), Владимир Ильин(29), Фелипе Визеу(27)</p></div>
<div><p style="color:#FFFF00">«Ахма́т» — российский профессиональный футбольный клуб из города Грозный. Ведёт свою историю с 1946 года. Выступает в Российской премьер-лиге. Обладатель Кубка России 2003/04. Домашние матчи проводит на стадионе «Ахмат Арена», который рассчитан на 30 597 зрителей.</p></div>
</body>
</html>
