<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Депортиво Алавес</title>
</head>
<body class="intro-header" style="background-image: url('static/img/alaves.png')">
<h1><p style="color:#00FFFF">Депортиво Алавес</p></h1>
 <div><p style="color:#00FFFF">Тренер: Асьер Гаритано</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Фернандо Пачеко(1), Антонио Сивера(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Робен Дуарте(3), Виктор Лагуардиа(5), Мартин Агиррегабириа(21), Родриго Эли(4), Лисандро Магальян(6), Химо Наварро(15), Адриан Марин(17), тачи(27)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Алеиш Видаль(18), Пере Понс(20), Оливер Берк(24), Томас Пина(8), Эдгар Мендес(16), Ману Гарсия(19), Луис Риоха(11), Борха Сайнс(29), Виктор Камараса(10), Любомит Фейса(15), Бурги(14)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Лукас Перес(7), Хоселу(9), Йон Гвидетти(99)</p></div>
<div><p style="color:#FFFF00">«Депортиво Алаве́с» (баск. и исп. Deportivo Alavés) или просто «Алаве́с» — баскский футбольный клуб из города Витория-Гастейс, в провинции Алава, в автономном сообществе Страна Басков.
Лучшие годы клуба пришлись на начало XXI века, когда команда регулярно финишировала в верхней части чемпионата Испании, постоянно участвуя в борьбе за попадание в еврокубки (дважды эта борьба увенчивалась успехом). Лучшим результатом в чемпионате является 6-е место в сезоне 1999/2000, в котором команда уступила всего три очка вице-чемпиону.
Но главного достижения в своей истории «Алавес» добился в следующем сезоне, в своем дебютном выступлении в еврокубках, неожиданно пробившись в финал Кубка УЕФА, в котором в овертайме уступил английскому «Ливерпулю» со счётом 4:5.</p></div>
</body>
</html>
