<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аталанта</title>
</head>
<body class="intro-header" style="background-image: url('static/img/atalanta1.png')">
<h1><p style="color:#00FFFF">Аталанта</p></h1>
 <div><p style="color:#00FFFF">Тренер: Джан Пьеро Гасперини</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Марко Спортьелло(57), Пьерлуиджи Голлини(95)</p></div>
 <div><p style="color:#00FFFF">Защитники: Робин Госенс(8), Рафаэл Толои(2), Ханс Хатебур(33), Тимоти Кастань(21), Берат Гамшити(19), Хосе Паломино(6), Маттиа Кальдара(3)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Йосип Иличич(72), Александро Гомес(10), Марио Пашалич(88), Мартен де Рон(15), Руслан Малиновский(18), Ремо Фройлер(11), Адриан Тамеа(5), Эбрима Колли(90)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Дуван Сапата(91), Луис Муриэль(9), Амад Траоре(79)</p></div>
<div><p style="color:#00FF00">«Атала́нта» (итал. Atalanta Bergamasca Calcio) — итальянский профессиональный футбольный клуб из города Бергамо. Основан в 1907 году; домашние матчи проводит на стадионе «Атлети Адзурри д’Италия», построенном в 1928 году и вмещающем 24 726 зрителей.
Самым значимым достижением «Аталанты» является победа в Кубке Италии 1963 года, ещё трижды (в 1987 и 1996, 2019 годах) она была финалистом.
В настоящее время пост главного тренера клуба занимает Джан Пьеро Гасперини; капитан клуба — Алехандро Гомес.</p></div>
</body>
</html>
