<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Атлетик Бильбао</title>
</head>
<body class="intro-header" style="background-image: url('static/img/atletic1.jpg')">
<h1><p style="color:#00FF00">Атлетик Бильбао</p></h1>
 <div><p style="color:#00FF00">Тренер: Гаиска Гаритан</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Унаи Симон(1), Хокин Эскьета(31), Яго Эррерин(13)</p></div>
 <div><p style="color:#00FF00">Защитники: Андер Капа(21), Юри Берчиче(17), Иньиго Мартинес(4), Иньиго Лекуа(15(), Йерай Альварес(5), Унаи Нуньес(3), Оскар Де Маркос(18), Микель Белинсеага(24)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Рауль Гарсия(22), Икер Муниаин(10), Унаи Лопес(8), Иньиго Кардоба(11), Ибаи Гомес(19), Гаиска Ларрасабаль(12), Ойан Сансет(34), Дани Гарсия(14), Беньят(7), Микель Весга(16), Микель Сан Хосе(6), УнаиВенседор(27)</p></div>
 <div><p style="color:#00FF00">Нападающие: Иньяки Уильямс(9), Ариц Адурис(20), Асьер Вильялибре(25), Кенан Кодро(23)</p></div>
<div><p style="color:#FFFF00">«Атле́тик» Бильба́о (исп. Athletic Club de Bilbao, баск. Bilboko Athletic Kluba) — испанский профессиональный футбольный клуб из города Бильбао, Страна Басков, выступающий в испанской Примере. Клуб был основан в 1898 году. Выступает в Примере с момента основания турнира в 1928 году. Из всех клубов основателей лишь «Атлетик», «Реал Мадрид» и «Барселона» ни разу не покидали высший испанский дивизион. «Атлетик» — один из самых титулованных клубов Испании. Он восемь раз выигрывал чемпионат страны и двадцать четыре раза побеждал в Кубке Короля.
Традиционные клубные цвета — красно-белые, за что клуб получил прозвище Rojiblancos (Красно-белые). Прозвище «Львы» происходит от того, что стадион расположен рядом с церковью Святого Мамаса (Мамес в испанском варианте). Мамас в ранний период христианства был брошен на растерзание львам римлянами. Однако львы не тронули Мамаса. Позже он был причислен к лику святых.
Клуб известен своей консервативной политикой, по которой за него играют лишь футболисты, соответствующие клубному критерию «басков». Это как вызывает критику, так и является предметом гордости. Под клубный критерий баскских футболистов также попадают французские баски, иностранцы с баскскими корнями, как француз Эмерик Ляпорт, а также выросшие в Басконии футболисты, такие как иммигрировавший с семьей в детстве румын Кристиан Ганя или ганец Иньяки Уильямс. Однако на тренерский состав эта практика не распространяется, и клуб возглавляли многие иностранные специалисты, такие как немец Юпп Хайнкес, француз Луис Фернандес и аргентинец Марсело Бьелса. Клуб, как и многие футбольные команды Испании, имеет британское происхождение, отсюда и английское название «Атлетик».</p></div>
</body>
</html>
