<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Атлетико Мадрид</title>
</head>
<body class="intro-header" style="background-image: url('static/img/atletico.jpg')">
<h1><p style="color:#00FF00">Атлетико Мадрид</p></h1>
 <div><p style="color:#00FF00">Тренер: Диего Симеоне</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Ян Облак(1), Антонио Адан(1)</p></div>
 <div><p style="color:#00FF00">Защитники: Ренан Лоди(12), Киран Триппьер(23), Фелипе(18), Сантьяго Арьяс(4), Шиме Врсалько(24), Марио Эрмосо(22), Стефан Савич(15), Хосе Хименес(2), Мануэль Санчес(35)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Анхель Корреа(10), Коке(6), Жоау Феликс(7), Сауль(8), Витоло(20), Томас(5), Маркос(14), Эктор Эррера(16), Томас Лемар(11), Янник Ферейра(21), Антонио Мойя(38), Оскар Клементе(39), Родриго Рикельме(32), Херман Валера(48)</p></div>
 <div><p style="color:#00FF00">Нападающие: Альваро Марата(8), Диего Коста(19), Снрхио(34), Дарио Паведа(40), Иван Шапонич(17)</p></div>
<div><p style="color:#FF00FF">«Атле́тико» Мадри́д (исп. Club Atlético de Madrid) — испанский профессиональный футбольный клуб из Мадрида, в одноимённом автономном сообществе. Клуб основан 26 апреля 1903 года, домашним стадионом является «Ванда Метрополитано».
«Атлетико» является десятикратным чемпионом Испании, десятикратным обладателем Кубка Испании, а также трёхкратным победителем Лиги Европы УЕФА сезонов 2009/10, 2011/12 и 2017/18.
Помимо этого, команда трижды играла в финалах Кубка/Лиги чемпионов, сохраняя ничейный результат в основное время матчей. Однако в переигровке, в дополнительное время или же в серии пенальти уступала соперникам.</p></div>
</body>
</html>
