<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аугсбург</title>
</head>
<body class="intro-header" style="background-image: url('static/img/augsburg.png')">
<h1><p style="color:#FF00FF">Аугсбург</p></h1>
 <div><p style="color:#FF00FF">Тренер: Хайко Херрлих</p></div>
 <div><p style="color:#FF00FF">Состав:</p></div>
 <div><p style="color:#FF00FF">Вратари: Андреас Люте(1), Томаш Коубек(21)</p></div>
 <div><p style="color:#FF00FF">Защитники: Яго(22), Тин Едвай(18), Штефан Лихтштайнер(2), Рафаэль Гаузлеу(6), Феликс Удуохай(19), Марек Сухи(5)</p></div>
 <div><p style="color:#FF00FF">Полузащитники: Марко Рихтер(23), Рубен Варгас(16), Рани Хедира(8), Даниэль Байер(10), Андре Хан(28), Ян Моравек(14), Эдуард Левен(29), Георг Тайгль(34)</p></div>
 <div><p style="color:#FF00FF">Нападающие: Флориан Нидер лехнер(7), Серхио Кардова(9), Юлиан Шибер(20)</p></div>
<div><p style="color:#FFFF00">«А́угсбург» (нем. Fußball-Club Augsburg 1907 e. V.) — немецкий профессиональный футбольный клуб из одноимённого города, расположенного в федеральной земле Бавария.</p></div>
</body>
</html>
