<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бавария</title>
</head>
<body class="intro-header" style="background-image: url('static/img/bayern1.jpg')">
<h1><p style="color:#FFFFFF">Бавария</p></h1>
 <div><p style="color:#FFFFFF">Тренер: Ханс-Дитер Флик</p></div>
 <div><p style="color:#FFFFFF">Состав:</p></div>
 <div><p style="color:#FFFFFF">Вратари: Кристиан Фрюхтль(36), Мануэль Нойер(1), Рон-Торбен Хоффманн(39), Свен Ульрайх(26)</p></div>
 <div><p style="color:#FFFFFF">Защитники: Альваро Одрисосола(2), Бенжамен Павар(5), Давид Алаба(27), Джером Боатенг(17), Йозуа Киммих(32), Лукас Май(33), Люка Эрнандес(21), Никлас Зюле(4), Альфонсо Дэвис(19)</p></div>
 <div><p style="color:#FFFFFF">Полузащитники: Иван Перишич(14), Кингсли Коман(29), Корантен Толиссо(24), Леон Горетцка(18), Леон Даяку(16), Микаэль Кюизанс(11), Оливер Майер(34), Пауль Вилль(37), Сарприт Сингх(28), Серж Гнабри(22), Тиаго Алькантара(6), Филиппе Коутиньо(10), Хави Мартинес(8)</p></div>
 <div><p style="color:#FFFFFF">Нападающие: Джошуа Зиркзее(35), Кваси Вридт(38), роберт Левандовски(9), Томас Мюллер(25)6 Янн-Фите Арп(15)</p></div>
<div><p style="color:#00FF00">Футбольный клуб «Бава́рия» Мюнхен (нем. FC Bayern München; немецкое произношение: [ʔɛf tseː ˈbaɪɐn ˈmʏnçn̩]) — профессиональный немецкий футбольный клуб из города Мюнхен. Основан в 1900 году. Самый титулованный клуб Германии и один из самых титулованных клубов мира.
«Бавария» заняла 3-е место в списке лучших футбольных клубов XX века по версии ФИФА, 4-е место — по версии журнала Kicker. Также IFFHS поставил «Баварию» на 5-е место в рейтинге лучших европейских клубов ХХ века.
«Бавария» является самым титулованным профессиональным футбольным клубом в Германии, на её счету 29 чемпионских титулов и 19 Кубков Германии, 5 побед — в Лиге чемпионов. В конце 2013 команда стала первым немецким клубом, выигравшим клубный чемпионат мира.</p></div>
</body>
</html>
