<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Байер 04</title>
</head>
<body class="intro-header" style="background-image: url('static/img/bayer.jpg')">
<h1><p style="color:#00FF00">Байер 04</p></h1>
 <div><p style="color:#00FF00">Тренер: Петер Бос</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Лукаш Градецки(1), Никлас Ломб(36), Рамазан Озджан(28)</p></div>
 <div><p style="color:#00FF00">Защитники: Александр Драгович(6), Венделл(18), Джонатан Та(4), Дэйли Синкгравен(22), Митчелл вайзер(23), Свен Бендер(5), Эдмонд Тапсоба(12)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Адриан Станилевич(30), Айман Азхиль(32), Кай Хавертц(29), Карим Бельараби(38), Керем Демирбай(10), Ларс Бендер(8), Леон Бэйли(9), Мусса Диаби(19), Надим Амири(11), Паулиньо(7), Чарлес Арангис(20), Эксекиэль Паласиос(25), Юлиан Баумгартлингер(15)</p></div>
 <div><p style="color:#00FF00">Нападающие: Кевин Фолланд(31), Лукас Аларио(13)</p></div>
<div><p style="color:#00FFFF">«Ба́йер 04» (нем. Bayer 04 Leverkusen Fußball GmbH) — немецкий профессиональный футбольный клуб из города Леверкузен, Северный Рейн-Вестфалия. Основан 1 июля 1904 года как спортивный проект фармацевтической компании Bayer, базирующейся в Леверкузене. В настоящее время выступает в Бундеслиге. Домашние матчи проводит на стадионе «Бай-Арена», вмещающем 30 210 зрителей.
На протяжении более чем векового существования «Байер 04» ни разу не выигрывал чемпионат своей страны, пять раз становясь серебряным призёром первенства, за что получил прозвище «Неверкузен» («Never» в переводе с английского означает «никогда»). При этом команда по разу побеждала в Кубке Германии и Кубке УЕФА.
В соответствии с правилами спонсорства УЕФА, название «Байер» относится к разряду коммерческих, в связи с чем не может отражаться в официальной статистике (а также в телевизионной графике) при участии клуба в еврокубковых матчах. В качестве альтернативного наименования клуба используется второе слово из названия клуба — «Леверкузен» (при этом, данное правило не распространяется для российской версии контента УЕФА).</p></div>
</body>
</html>
