<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реал Бетис</title>
</head>
<body class="intro-header" style="background-image: url('static/img/betis.png')">
<h1><p style="color:#FF00FF">Реал Бетис</p></h1>
 <div><p style="color:#FF00FF">Тренер: Руби</p></div>
 <div><p style="color:#FF00FF">Состав:</p></div>
 <div><p style="color:#FF00FF">Вратари: Хоэль Роблес(1), Дани Мартин(13)</p></div>
 <div><p style="color:#FF00FF">Защитники: Эмерсон(22), Алекс Морено(15), Марк Бартра(5), Зухаир Феддаль(4), Сидней(12), Антонио Берраган(19), Аисса Манди(23), Эдгар Гонсалес(32)</p></div>
 <div><p style="color:#FF00FF">Полузащитники: Набиль Фекир(8), Хоакин(17), Серхио(10), Гуардадо(18), Кристиан Тельо(11), Альфонсо Педраса(6), Диего Лайнес(20), Карвалью(14), Карлес Аленья(24), Хави Гарсия(3), Гидо Родригес(21), Хуанми(7)</p></div>
 <div><p style="color:#FF00FF">Нападающие: Лорен Морон(16), Борха Иглесиас(9), Рауль Гарсия(35)</p></div>
<div><p style="color:#FF0000">«Реа́л Бе́тис Баломпие» (исп. Real Betis Balompié, S.A.D.) — испанский профессиональный футбольный клуб из города Севилья, выступающий в испанской Примере. Образован 12 сентября 1907 года. Чемпион Испании (1935), двукратный обладатель Кубка Испании (1977, 2005). Домашним стадионом клуба является «Бенито Вильямарин» − один из крупнейших стадионов Испании, вместимость которого составляет 60 720 зрителей.
«Бетис» — единственная команда, участвовавшая и становившаяся победителем в трёх первых испанских лигах (Примере, Сегунде и Терсере).
Почётными членами клуба являются испанские монархи: бывший — Хуан Карлос I и его сын, нынешний король Испании — Филипп VI.
Девиз болельщиков клуба — «Да здравствует Бетис, даже когда он проигрывает!» (исп. «¡Viva el Betis manque pierda!»)</p></div>
</body>
</html>
