<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Болонья</title>
</head>
<body class="intro-header" style="background-image: url('static/img/bologna1.png')">
<h1><p style="color:#00FF00">Болонья</p></h1>
 <div><p style="color:#00FF00">Тренер: Синиша Михайлович</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Лукаш Скорупски(12), Ангела(1)</p></div>
 <div><p style="color:#00FF00">Защитники: Маттиа Бани(13), Ибраима Мбайе(15), Такехиро Тамиясу(14), Данило Ларангейра(23), Стефано Денсвил(4), Митчел Дейкс(35)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Риккардо Орсолини(7), Никола Сансоне(10), Роберто Сориано(21), Маттиас Сванберг(32), Андреа Поли(16), Андреас Ольсен(17), Ладислав Крейчи(11), Гари Медель(5), Йерди Схаутен(30), Николас Домингес(8), Муса Джувара, Эндри Бальдурссон(34)</p></div>
 <div><p style="color:#00FF00">Нападающие: Родриго Паласио(24), Муса Барроу(99), Федерико Сатнтандер(9)</p></div>
<div><p style="color:#FFFF00">«Боло́нья» (итал. Bologna FC) — итальянский футбольный клуб из одноимёного города, в одноимённой провинции в регионе Эмилия-Романья. «Болонья» является одним из наиболее титулованных клубов Италии, команда 7 раз выигрывала Чемпионат Италии.</p></div>
</body>
</html>
