<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Боруссия Мёнхенгладбах</title>
</head>
<body class="intro-header" style="background-image: url('static/img/borussia5.jpg')">
<h1><p style="color:#FF0000">Боруссия Мёнхенгладбах</p></h1>
 <div><p style="color:#FF0000">Тренер: Марко Розе</p></div>
 <div><p style="color:#FF0000">Состав:</p></div>
 <div><p style="color:#FF0000">Вратари: Макс Грюн(31), Тобиас Зиппель(21), Ян Зоммер(1)</p></div>
 <div><p style="color:#FF0000">Защитники: Мамаду Дукуре(4), Маттиас Гинтер(28), Нико Эльведи(30), Оскар Вендт(17), Рами Бенсебайни(25), Тони Янчке(24), Штефан Лайнер(18)</p></div>
 <div><p style="color:#FF0000">Полузащитники: Аарон Херцог(39), Денис Закария(8), Ибраима Траоре(16), Йонас Хофманн(23), Кинан Беннеттс(37), Кристоф Крамер(6), Ласло Бенеш(22), Патрик Херрман(7), Тобиас Штробль(5), Торбен Мюзель(26), Фабиан Джонсон(19), Флориан Нойхаус(32)</p></div>
 <div><p style="color:#FF0000">Нападающие: Алассан Плеа(14), Бреэль Эмболо(36), Конор Носс(34), Ларс Штиндль(13), Маркус Тюрам(10), Раффаэл(11), Харалампос Макридис(44)</p></div>
<div><p style="color:#FFFFFF">«Бору́ссия Мёнхенгладбах» (нем. Borussia Verein für Leibesübungen 1900 e.V.) — немецкий профессиональный футбольный клуб из Мёнхенгладбаха, Северный Рейн-Вестфалия, один из самых титулованных клубов страны. «Боруссия» пять раз становилась чемпионом Германии, трижды выигрывала Кубок страны и два раза — Кубок УЕФА. Клуб «Боруссия Мёнхенгладбах» насчитывает более 37 тысяч членов и является шестым по величине зарегистрированным спортивным объединением в Германии. Цвета клуба — зелёный, чёрный и белый, а официальный маскот — жеребёнок Юнтер (нем. Jünter).
В названии Borussia Verein für Leibesübungen 1900 e.V. «Боруссия» — это латинизированное «Пруссия», популярное название для немецких спортивных клубов. «Verein für Leibesübungen» означает дословно «спортивное общество для телесных упражнений»; помимо футбола, у клуба имеются секции гандбола и настольного тенниса. e.V. — сокращение от «зарегистрированное общество».</p></div>
</body>
</html>
