<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Борнмут</title>
</head>
<body class="intro-header" style="background-image: url('static/img/bour2.png')">
<h1><p style="color:#00FFFF">Борнмут</p></h1>
 <div><p style="color:#00FFFF">Тренер: Эдди Хау</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Аарон Рэмсдейл(12), Артур Боруц(1), Марк Трэверс(42)</p></div>
 <div><p style="color:#00FFFF">Защитники: Адам Смит(15), Джек Симпсон(25), Джек Стэйси(17), Диего Рико(21), Крис Мифем(33), Ллойд Келли(26), Натан Аке(5), Саймон Фрэнсис(2), Стив Кук(3), Чарли Дэниэлс(11)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Арно Данджума(14), Гэвин Килкенни(53), Джефферсон Лерма(8), Джордон Айб(10), Джуниор Станислас(19), Дэвид Брукс(20), Дэн Гослинг(4), Льюис Кук(16), Райан Фрэйзер(24), Филип Биллинг(29), Харри Уилсон(22), Эндрю серман(6)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Джошуа Кинг(7), Доминик Соланке(9), Каллум Уилсон(13), Кристиан Сайди(65), Сэм Серридж(44)</p></div>
<div><p style="color:#00FF00">«Бо́рнмут» (полное название — Атлетический футбольный клуб «Борнмут», англ. Athletic Football Club Bournemouth — английский профессиональный футбольный клуб из Борнмута, графство Дорсет. В настоящее время выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии.
Клуб был основан в 1899 году под названием «Боском» (Boscombe F.C.) на основе существовавшего с 1890 года клуба «Боском Сент-Джонс Инститьют» (Boscombe St. John’s Institute F.C.). В 1923 году клуб изменил название на «Борнмут энд Боском Атлетик» (Bournemouth and Boscombe Athletic F.C.), а с 1972 года клуб называется просто «Борнмут». Домашние матчи с 1910 года клуб проводит на стадионе «Дин Корт» (с 2015 года стадион называется «Виталити» в соответствии со спонсорским соглашением). Большую часть своей истории «Борнмут» провёл в третьем дивизионе английского футбола, но в сезоне 2015/16 впервые вышел в высший дивизион, где и выступает по сей день.
Прозвище клуба — «вишни» (The Cherries). Цвета клуба — чёрно-красные.</p></div>
</body>
</html>
