<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Брешиа</title>
</head>
<body class="intro-header" style="background-image: url('static/img/bresia.png')">
<h1><p style="color:#00FF00">Брешиа</p></h1>
 <div><p style="color:#00FF00">Тренер: Диего Лопес Брейхо</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Ессе Йоронен(1), Энрико Альфонсо(22), Лоренцо Андреначчи(12)</p></div>
 <div><p style="color:#00FF00">Защитники: Джон Чансельор(14), Стефано Сабелли(2), Андреа Чистана(15), Алеш Матео(3), Бруно Мартелла(26), Массимилиано Мангравити(19), Даниэле Гастальделло(5), Алессандро Семприни(29), Андреа Папетти(32)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Сандро Тонали(4), Ромуло(28), Димитри Бизоли(25), Николас Шпалек(7), ДаниэлеДессена(27), Эмануэле Ндой(6), Яромир Эмргал(8), Биркир Бьярнасон(31), Маттиа Вивиани(24)</p></div>
 <div><p style="color:#00FF00">Нападающие: Марио Балателли(45), Эрнесто Торрегросса(11), Альфредо Доннарумма(9), Флориан Айе(18), Симон Скрабб(23)</p></div>
<div><p style="color:#FF00FF">«Бре́шиа» (итал. Brescia Calcio) — итальянский футбольный клуб из одноимённого города. Основан в 1911 году. Домашние матчи проводит на стадионе «Марио Ригамонти», вмещающем 27 547 зрителей.</p></div>
</body>
</html>
