<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Брайтон</title>
</head>
<body class="intro-header" style="background-image: url('static/img/brighton1.png')">
<h1><p style="color:#00FF00">Брайтон энд Хоув Альбион</p></h1>
 <div><p style="color:#00FF00">Тренер: Грэм Поттер</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Джейсон Стил(23), Дэвид Баттон(27), Мэтью Райан(1)</p></div>
 <div><p style="color:#00FF00">Защитники: Адам Уэбстер(15), Бернардо(30), Дэн Берн(33), Льюис Данк(5), Мартин Монтойя(22), Тарик Лэмпти(2), Шейн Даффи, Эсекиэль Скелотто(21)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Аарон Муй(18), Алексис Мак Аллистер(10), Алиреза Джаханбахш(16), Дейл Стивенс(6), Дэйви Проппер(24), Ив Биссума(8), Леандро Троссард(11), Паскаль Гросс(13), Солли Марч(20), Стивен Альсате, Хосе Искьердо(19)</p></div>
 <div><p style="color:#00FF00">Нападающие: Аарон Коннолли(44), Гленн Мюррей, Нил Мопе</p></div>
<div><p style="color:#FF00FF">«Бра́йтон энд Хо́ув А́льбион» (полное название — Футбольный клуб «Брайтон энд Хоув Альбион» англ. Brighton & Hove Albion Football Club; английское произношение: [ˈbraɪtən ən ˈhoʊv ˈælbɪən 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из муниципалитета Брайтон-энд-Хов, Восточный Суссекс. По итогам сезона 2016/17 завоевал себе право выхода в Премьер-лигу.
Клуб был основан в 1901 году. Домашний стадион — «Фалмер» (коммерческое название — «Американ экспресс комьюнити стэдиум», или «Амэкс»), вмещающий более 30 тысяч зрителей.</p></div>
</body>
</html>
