<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предстоящие матчи</title>
</head>
<body class="intro-header" style="background-image: url('static/img/bundesliga4.png')">
<h1><p style="color:#0000FF">Предстоящие матчи:</p></h1>
<h2><p style="color:#0000FF">Суббота, 16 мая</p></h2>
  <p><a href="http://127.0.0.1:8080/dortmund">Боруссия Дортмунд</a> -:- <a href="http://127.0.0.1:8080/hoff">Хоффенхайм</a></p>
  <p><a href="http://127.0.0.1:8080/borussia">Боруссия Мёнхенгладбах</a> -:- <a href="http://127.0.0.1:8080/herta">Герта</a></p>
  <p><a href="http://127.0.0.1:8080/bayer">Байер 04</a> -:- <a href="http://127.0.0.1:8080/mainz">Майнц 05</a></p>
  <p><a href="http://127.0.0.1:8080/wolf">Вольфсбург</a> -:- <a href="http://127.0.0.1:8080/bayern">Бавария</a></p>
  <p><a href="http://127.0.0.1:8080/frei">Фрайбург</a> -:- <a href="http://127.0.0.1:8080/shalke">Шальке 04</a></p>
  <p><a href="http://127.0.0.1:8080/union">Унион Берлин</a> -:- <a href="http://127.0.0.1:8080/fortuna">Фортуна</a></p>
  <p><a href="http://127.0.0.1:8080/frankfurt">Айнтрахт Франкфурт</a> -:- <a href="http://127.0.0.1:8080/pader">Паддерборн 07</a></p>
  <p><a href="http://127.0.0.1:8080/augsburg">Аугсбург</a> -:- <a href="http://127.0.0.1:8080/leipzig">РБ Лейпциг</a></p>
  <p><a href="http://127.0.0.1:8080/werder">Вердер</a> -:- <a href="http://127.0.0.1:8080/koln">Кёльн</a></p>
</body>
</html>
