<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бёрнли</title>
</head>
<body class="intro-header" style="background-image: url('static/img/bur1.png')">
<h1><p style="color:#00FFFF">Бёрнли</p></h1>
 <div><p style="color:#00FFFF">Тренер: Шон Дайч</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Адам Легздинс(30), Бэйли Пикок-Фаррелл(15), Джо Харт(20), Ник Поуп(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Али Койки(42), Бен Гибсон(14), Бен Ми(6), Джеймс Тарковски(5), Кевин Лонг(28), Мэттью Лоутон(2), Фил Бардсли(26), Чарли Тэйлор(3), Энтони Дрисколл-Гленнон(45), Эрик Питерс(23)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Аарон Леннон(25), Джек Корк(4), Джефф Хендрик(13), Джош Браунхилл(8), Дуайт Макнил(11), Йоханн Гудмундссон(7), Мэйс Гудридж(44), Роберт Брэйди(12), Эшли Вествуд(18)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Джей Родригес(19), Крис Вуд(9), Матей Выдра(27), Эшли Барнс(10)</p></div>
<div><p style="color:#FFFF00">«Бе́рнли» (полное название — Футбольный клуб «Бернли», англ. Burnley Football Club, английское произношение: ['bɜrnli 'futbɔ:l klʌb]) — профессиональный английский футбольный клуб из города Бернли, графство Ланкашир. Выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии. Является одним из клубов-основателей Футбольной лиги в 1888 году. Прозвище команды — «бордовые» — отражает главный цвет домашней формы.
Клуб дважды становился чемпионом Англии (в сезонах 1920/21 и 1959/60), а также выигрывал Кубок Англии (в 1914 году). В 1961 году команда вышла в четвертьфинал Кубка европейских чемпионов. «Бернли» также является одним из пяти клубов, выигравших все четыре высших профессиональных дивизиона английского футбола (наряду с «Вулверхэмптон Уондерерс», «Престон Норт Энд», «Портсмутом» и Шеффилд Юнайтед).
Традиционные цвета команды (с 1910 года) — бордово-голубые, в честь доминировавшего в начале XX века в английском футболе клуба «Астон Вилла». Домашним стадионом клуба с 1883 года является «Терф Мур». Главным тренером клуба является Шон Дайч, сменивший на этом посту Эдди Хау в 2012 году.
Принципиальным соперником является «Блэкберн Роверс», матчи против которого носят название дерби Восточного Ланкашира.</p></div>
</body>
</html>
