<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кальяри</title>
</head>
<body class="intro-header" style="background-image: url('static/img/cagliari1.jpg')">
<h1><p style="color:#00FFFF">Кальяри</p></h1>
 <div><p style="color:#00FFFF">Тренер: Роландо Маран</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Робин Ольсен(90), Рафаэл Биттенкур(1), Алессио Краньо(12)</p></div>
 <div><p style="color:#00FFFF">Защитники: Лука Пеллегрини(33), Лука Чеппителли(23), Фабио Пизакане(19), Рагнар Клаван(15), Фабрицио Каччаторе(12), Хараламбос Ликояннис(22), Федерико Маттьелло(3), Себастьян Валюкевич(40)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Жоао Педро(10), Раджа Наинголан(4), Наитан Нандес(18), Лука Чигарини(8), Лукас Кастро(29), Паоло Фараго(24), Кристиан Олива(17), Артур Ионица(21), Марко Рог(6), Гастон Перейро(20), Вальтер Бирса(14)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Джованни Симеоне(99), ДаниэлеРогатцу(26), Альберто Палоски(9), Леонардо Паволетти(30)</p></div>
<div><p style="color:#00FF00">«Ка́льяри» (итал. Cagliari Calcio SpA) — итальянский футбольный клуб, основанный в 1920 году. В настоящее время играет в Серии А. Чемпион Италии сезона 1969/70.</p></div>
</body>
</html>
