<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сельта</title>
</head>
<body class="intro-header" style="background-image: url('static/img/celta.jpg')">
<h1><p style="color:#00FFFF">Сельта</p></h1>
 <div><p style="color:#00FFFF">Тренер: Оскар Гарсия</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Серхио Альварес(1), Рубен Бланко(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Лукас Оласа(15), Нестор Араухо(4), Джозеф Айду(18), Уго Мальо(2), Кевин Васкес(20), Давид Жунка(17), Хорхе Саэнс(16)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Денис Суарес(6), Рафинья(12), Пионе Систо(11), Браис Мандес(23). Икер Лосада(36),Фран Бельтран(8), Филип Брадарич(14), Хуан Эрнандес(7), Серхио Бермехо(28)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Яго Аспас(10), Санте Мина(22), Габриэль Фернандес(19), Фёдор Смолов(9)</p></div>
<div><p style="color:#FFFF00">«Се́льта» (галис. и исп. Real Club Celta de Vigo) — испанский профессиональный футбольный клуб из города Виго в провинции Понтеведра в автономном сообществе Галисия. Основан 23 августа 1923 года путём объединения двух клубов — «Спортинг» и «Фортуна». Название связано с тем, что кельты в своё время оставили свой след в Галисии.</p></div>
</body>
</html>
