<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
  <title>The magnificent five</title>
 </head>
 <body class="intro-header" style="background-image: url('static/img/worldcup.jpg')">
 <h1>The magnificent five</h1>
 <h2>Футбольные чемпионаты ТОП-5</h2>
  <p><a href="http://127.0.0.1:8080/epl">АПЛ(Англия)</a></p>
  <p><a href="http://127.0.0.1:8080/bundesliga">Бундеслига(Германия)</a></p>
  <p><a href="http://127.0.0.1:8080/laliga">Ла Лига(Испания)</a></p>
  <p><a href="http://127.0.0.1:8080/seriea">Серия А(Италия)</a></p>
  <p><a href="http://127.0.0.1:8080/rpl">РПЛ(Россия)</a></p>
</body>
</html>
