<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Челси</title>
</head>
<body class="intro-header" style="background-image: url('static/img/chelsea2.jpg')">
<h1><p style="color:#FF0000">Челси</p></h1>
 <div><p style="color:#FF0000">Тренер: Фрэнк Лэмпард</p></div>
 <div><p style="color:#FF0000">Состав:</p></div>
 <div><p style="color:#FF0000">Вратари: Вилли Кабальеро(13), Кепа Аррисабалага(1)</p></div>
 <div><p style="color:#FF0000">Защитники: Андреас Кристенсен(4), Антонио Рюдигер(2), Курт Зума(15), Маркос Алонсо(3), Рис Джеймс(24), Сесар Аспиликуэта(28), Фикайо Томори(29), Эмерсон(33)</p></div>
 <div><p style="color:#FF0000">Полузащитники: Билли Гилмор(47), Жоржиньо(5), Марко ван Гинкел(42), Матео Ковачич(17), Мэйсон Маунт(19), Нголо Канте(7), Росс Баркли(8), Рубен Лофтус-Чик(12), Фаустино Анджорин(55)</p></div>
 <div><p style="color:#FF0000">Нападающие: Армандо Броя(57), Миши Батшуайи(23), Виллиан(10), Педро(11), Кристиан Пулишич(22), Каллум Хадсон-Одои(20), Оливье Жиру(18), Тэмми Абрахам(9)</p></div>
<div><p style="color:#FFFF00">«Че́лси» (полное название — Футбольный клуб «Челси», англ. Chelsea Football Club, английское произношение: [ˈtʃɛlsiː 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из Фулема на юго-западе Лондона. Выступает в английской Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии. Основан в 1905 году. Провёл бо́льшую часть своей истории в высшем дивизионе английского футбола. Один из клубов-основателей английской Премьер-лиги в 1992 году. «Челси» шесть раз становился чемпионом Англии, восемь раз выигрывал Кубок Англии и пять раз Кубок Футбольной лиги. Клуб добивался успеха на европейской арене, выиграв Лигу чемпионов УЕФА, дважды Кубок обладателей кубков УЕФА, дважды Лигу Европы УЕФА и Суперкубок УЕФА. «Челси» является одним из пяти клубов, наряду с «Ювентусом», «Аяксом», «Баварией» и «Манчестер Юнайтед», который выиграл все три главных клубных турнира УЕФА, а также единственным клубом, владевшим двумя главными еврокубками одновременно.
Несмотря на своё название, клуб располагается не в районе Челси, а в соседнем Фулеме. Домашний стадион «Челси», «Стэмфорд Бридж», на котором клуб играет с момента основания, был открыт в 1877 году. Стадион занимает 9-е место по вместимости в Англии и вмещает более 40 тысяч болельщиков. Владельцем клуба со 2 июля 2003 года является российский бизнесмен Роман Абрамович.
На данный момент «Челси» занимает 8-е место в списке клубов с самыми высокими доходами. 8 июня 2017 года журнал Forbes оценил клуб в $1,845 млрд (£1,42 млрд).
Основная форма — синие футболки и трусы с белыми гетрами, подобная комбинация используется с 1960-х годов. Клубная эмблема несколько раз видоизменялась в попытках модернизации клубной символики; текущая эмблема, церемониальный синий лев, держащий посох, является модифицированной версией эмблемы, впервые принятой в 1953 году; данная версия эмблемы была принята в 2005 году. Клуб занимает пятое место по посещаемости домашнего стадиона за всё время участия в английском футболе. Средняя посещаемость домашних матчей в сезоне 2016/17 составила 41 528 человек, или 99,75 % от общего количества мест.</p></div>
</body>
</html>
