<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЦСКА</title>
</head>
<body class="intro-header" style="background-image: url('static/img/cska2.jpg')">
<h1><p style="color:#00FFFF">ЦСКА</p></h1>
 <div><p style="color:#00FFFF">Тренер: Виктор Гончаренко</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Игорь Акинфее(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Марио Фернандес(2), Игорь Дивеев(78), Вадим Карпов(62), Виктор Васин(5), Кирилл Набабкин(14), Георгий Щенников(42)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Никола Влашич(8), Иван Обляков(98), Ильзат Ахметов(7), Яка Бийоп(29), Константин Кучаев(20), Алан Дзагоев(10)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Федор Чалов(9), Илья Шкурин(99)</p></div>
<div><p style="color:#00FF00">ЦСКА — российский футбольный клуб из Москвы, в прошлом — часть Центрального спортивного клуба Армии. Один из старейших и самых титулованных клубов в постсоветской истории российского футбола, ведущий свою историю от команды ОЛЛС (Общество любителей лыжного спорта), основанной в 1911 году. Семикратный чемпион СССР, пятикратный обладатель Кубка СССР, шестикратный чемпион России, семикратный обладатель Кубка России и Суперкубка России. Первый российский клуб, выигравший европейский клубный турнир (Кубок УЕФА 2004/05). В 2014 году клуб выиграл чемпионат в пятый раз, и, таким образом, ЦСКА стал первым в российской истории клубом, собравшим оригиналы всех трофеев</p></div>
</body>
</html>
