<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Динамо Москва</title>
</head>
<body class="intro-header" style="background-image: url('static/img/dinamo.jpg')">
<h1><p style="color:#00FFFF">Динамо Москва</p></h1>
 <div><p style="color:#00FFFF">Тренер: Кирилл Новиков</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Антон Шунин(12)</p></div>
 <div><p style="color:#00FFFF">Защитники: Константин Рауш(34), Сергей Паршивлюк(17), Григорий Морозов(2), Заурбек Плиев(3), Иван Ордец(18), Тони Шуньич(44), Владимир Рыков(4)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Себастья Шиманьски(11), Артур Юсупов(6), Роман  Нойштадтер(15), Шарль Каборе(77), Оскар Хильемарк</p></div>
 <div><p style="color:#00FFFF">Нападающие: Максимилиан Филипп(5), Сильвестр Игбоун(10), Кирилл Панченко(8), Клинтон НЖи(9)</p></div>
<div><p style="color:#FFFF00">«Дина́мо» — российский футбольный клуб из Москвы. Один из двух клубов (второй — киевское «Динамо»), принимавший участие во всех чемпионатах высшего дивизиона СССР. До 2016 года участвовал также во всех чемпионатах России в высшем дивизионе, но по итогам сезона 2015/16 впервые его покинул.
«Динамо» — один из старейших футбольных клубов России и один из самых успешных российских клубов по количеству титулов за всю историю. Свой последний трофей клуб завоевал в 1995 году — это был Кубок России.
В сезоне 1971/72 «Динамо» стало первым клубом из Советского Союза, которому удалось выйти в финал еврокубка.</p></div>
</body>
</html>
