<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Боруссия Дортмунд</title>
</head>
<body class="intro-header" style="background-image: url('static/img/dortmund.jpg')">
<h1><p style="color:#FFFF00">Боруссия Дортмунд</p></h1>
 <div><p style="color:#FFFF00">Тренер: Люсьен Фавр</p></div>
 <div><p style="color:#FFFF00">Состав:</p></div>
 <div><p style="color:#FFFF00">Вратари: Йонас Хупе(20), Лука Унбехаун(25), Марвин Хитц(35), Роман Бюрки(1), Эрик Ольшлэгель(40)</p></div>
 <div><p style="color:#FFFF00">Защитники: Ашраф Хакими(5), Дан-Аксель Загаду(2), Леонардо Балерди(18), Лукаш Пишчек(26), Мануэль Аканджи(16), Марсель Шмельцер(29), Матеу Морей(22), Матс Хуммельс(15), Нико Шульц(14)</p></div>
 <div><p style="color:#FFFF00">Полузащитники: Аксель Витцель(28), Джейдон Санчо(7), Джованни Рейна(32), Марио Гётце(10), Марко Ройс(11), Махмуд Дауд(8), Рафаэл Геррейру(13), Тобиас Рашль(37), Томас Дилэйни(6), Торган Азар(23), Эмре Джан(27), Юлиан Брандт(19)</p></div>
 <div><p style="color:#FFFF00">Нападающие: Эрлинг Холанд(17)</p></div>
<div><p style="color:#00FFFF">«Бору́ссия» (нем. Ballspielverein Borussia 09 e. V. Dortmund)[3] — профессиональный немецкий футбольный клуб из города Дортмунда. Будучи многократным чемпионом Германии, обладателем Кубка кубков и победителем Лиги чемпионов, «Боруссия» — один из наиболее титулованных футбольных клубов Германии. Один из самых популярных клубов страны.</p></div>
</body>
</html>
