<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Эйбар</title>
</head>
<body class="intro-header" style="background-image: url('static/img/eibar.png')">
<h1><p style="color:#00FFFF">Эйбар</p></h1>
 <div><p style="color:#00FFFF">Тренер: Хосе Луис Мендилибар</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Марко(1), Родригес(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Хосе Анхель(15), Анаиц Арбилья(23), Педро Бигас(3), Иван Рамис(4), Эстебан Бургос(24), Альваро Тахеро(24)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Фабиан Орельяна(14), Такаси Инуи(22), Эду Эспосито(10), Гонсало Эскаланте(5), Педро Леон(21), Папакули Диоп(8), Серхио Альварес(6), Мигель Атьенса(33)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Шарлес(19), Серхи Энрик(9), Кике Гарсия(17), Кики Гонсалес(7)</p></div>
<div><p style="color:#FFFF00">«Э́йбар» (баск. Eibar Kirol Elkartea, исп. Sociedad Deportiva Eibar, S.A.D.) — испанский футбольный клуб из одноимённого города в провинции Гипускоа. Население города — чуть более 27 000 человек. Собственниками клуба являются его болельщики, владеющие более 10 000 акций.
Клуб основан в 1940 году, домашние матчи проводит на арене «Ипуруа», вмещающей лишь 7 083 зрителей.
По итогам сезона 2013/14 «Эйбар» впервые вышел в Примеру, до этого лучшим достижением «Эйбара» в Испании было 4-е место в Сегунде в сезоне 2004/05.</p></div>
</body>
</html>
