<title>АПЛ</title>
<body class="intro-header" style="background-image: url('static/img/epl45.jpg')">
<h1>Английская Премьер-Лига(АПЛ)</h1>
<h2><p style="color:#0000FF">Таблица чемпионата Англии на данный момент:</p></h2>
<table>
  <tr>
    <th><p style="color:#FFFFFF">Позиция</p></th>
    <th><p style="color:#FFFFFF">Команда</p></th>
     <th><p style="color:#FFFFFF">Сыгранные матчи</p></th>
     <th><p style="color:#FFFFFF">Выигрыши</p></th>
     <th><p style="color:#FFFFFF">Ничьи</p></th>
     <th><p style="color:#FFFFFF">Поражения</p></th>
     <th><p style="color:#FFFFFF">Забитые мячи</p></th>
     <th><p style="color:#FFFFFF">Пропущенные мячи</p></th>
     <th><p style="color:#FFFFFF">Очки</p></th>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">1.</p></td>
    <td><a href="http://127.0.0.1:8080/liverpool">Ливерпуль</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">27</p></td><td><p style="color:#FFFFFF">1</p></td><td><p style="color:#FFFFFF">1</p></td><td><p style="color:#FFFFFF">66</p></td><td><p style="color:#FFFFFF">21</p></td><td><p style="color:#FFFFFF">82</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">2.</p></td>
    <td><a href="http://127.0.0.1:8080/city">Манчестер Сити</a></td><td><p style="color:#FFFFFF">28</p></td><td><p style="color:#FFFFFF">18</p></td><td><p style="color:#FFFFFF">3</p></td><td><p style="color:#FFFFFF">7</p></td><td><p style="color:#FFFFFF">68</p></td><td><p style="color:#FFFFFF">31</p></td><td><p style="color:#FFFFFF">57</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">3.</p></td>
      <td><a href="http://127.0.0.1:8080/leicester">Лестер</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">16</p></td><td><p style="color:#FFFFFF">5</p></td><td><p style="color:#FFFFFF">8</p></td><td><p style="color:#FFFFFF">58</p></td><td><p style="color:#FFFFFF">28</p></td><td><p style="color:#FFFFFF">53</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">4.</p></td>
    <td><a href="http://127.0.0.1:8080/chelsea">Челси</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">14</p></td><td><p style="color:#FFFFFF">6</p></td><td><p style="color:#FFFFFF">9</p></td><td><p style="color:#FFFFFF">51</p></td><td><p style="color:#FFFFFF">39</p></td><td><p style="color:#FFFFFF">48</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">5.</p></td>
    <td><a href="http://127.0.0.1:8080/united">Манчестер Юнайтед</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">12</p></td><td><p style="color:#FFFFFF">9</p></td><td><p style="color:#FFFFFF">8</p></td><td><p style="color:#FFFFFF">44</p></td><td><p style="color:#FFFFFF">30</p></td><td><p style="color:#FFFFFF">45</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">6.</p></td>
    <td><a href="http://127.0.0.1:8080/wolves">Вулверхэмтон</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">10</p></td><td><p style="color:#FFFFFF">13</p></td><td><p style="color:#FFFFFF">6</p></td><td><p style="color:#FFFFFF">41</p></td><td><p style="color:#FFFFFF">34</p></td><td><p style="color:#FFFFFF">43</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">7.</p></td>
    <td><a href="http://127.0.0.1:8080/shef">Шеффилд Юнайтед</a></td><td><p style="color:#FFFFFF">28</p></td><td><p style="color:#FFFFFF">11</p></td><td><p style="color:#FFFFFF">10</p></td><td><p style="color:#FFFFFF">7</p></td><td><p style="color:#FFFFFF">30</p></td><td><p style="color:#FFFFFF">25</p></td><td><p style="color:#FFFFFF">43</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">8.</p></td>
    <td><a href="http://127.0.0.1:8080/tth">Тоттенхэм</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">11</p></td><td><p style="color:#FFFFFF">8</p></td><td><p style="color:#FFFFFF">10</p></td><td><p style="color:#FFFFFF">47</p></td><td><p style="color:#FFFFFF">40</p></td><td><p style="color:#FFFFFF">41</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">9.</p></td>
    <td><a href="http://127.0.0.1:8080/arsenal">Арсенал</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">9</p></td><td><p style="color:#FFFFFF">13</p></td><td><p style="color:#FFFFFF">6</p></td><td><p style="color:#FFFFFF">40</p></td><td><p style="color:#FFFFFF">36</p></td><td><p style="color:#FFFFFF">40</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">10.</p></td>
    <td><a href="http://127.0.0.1:8080/bur">Бёрнли</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">11</p></td><td><p style="color:#FFFFFF">6</p></td><td><p style="color:#FFFFFF">12</p></td><td><p style="color:#FFFFFF">34</p></td><td><p style="color:#FFFFFF">40</p></td><td><p style="color:#FFFFFF">39</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">11.</p></td>
    <td><a href="http://127.0.0.1:8080/kp">Кристал Пэлас</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">10</p></td><td><p style="color:#FFFFFF">9</p></td><td><p style="color:#FFFFFF">10</p></td><td><p style="color:#FFFFFF">26</p></td><td><p style="color:#FFFFFF">32</p></td><td><p style="color:#FFFFFF">39</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">12.</p></td>
    <td><a href="http://127.0.0.1:8080/ev">Эвертон</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">10</p></td><td><p style="color:#FFFFFF">7</p></td><td><p style="color:#FFFFFF">12</p></td><td><p style="color:#FFFFFF">37</p></td><td><p style="color:#FFFFFF">46</p></td><td><p style="color:#FFFFFF">37</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">13.</p></td>
    <td><a href="http://127.0.0.1:8080/new">Ньюкасл</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">9</p></td><td><p style="color:#FFFFFF">8</p></td><td><p style="color:#FFFFFF">12</p></td><td><p style="color:#FFFFFF">25</p></td><td><p style="color:#FFFFFF">41</p></td><td><p style="color:#FFFFFF">35</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">14.</p></td>
    <td><a href="http://127.0.0.1:8080/sout">Саутгемтон</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">10</p></td><td><p style="color:#FFFFFF">4</p></td><td><p style="color:#FFFFFF">15</p></td><td><p style="color:#FFFFFF">35</p></td><td><p style="color:#FFFFFF">52</p></td><td><p style="color:#FFFFFF">34</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">15.</p></td>
    <td><a href="http://127.0.0.1:8080/brighton">Брайтон</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">6</p></td><td><p style="color:#FFFFFF">11</p></td><td><p style="color:#FFFFFF">12</p></td><td><p style="color:#FFFFFF">32</p></td><td><p style="color:#FFFFFF">40</p></td><td><p style="color:#FFFFFF">29</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">16.</p></td>
    <td><a href="http://127.0.0.1:8080/west">Вест Хэм</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">7</p></td><td><p style="color:#FFFFFF">6</p></td><td><p style="color:#FFFFFF">16</p></td><td><p style="color:#FFFFFF">35</p></td><td><p style="color:#FFFFFF">50</p></td><td><p style="color:#FFFFFF">27</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">17.</p></td>
    <td><a href="http://127.0.0.1:8080/watford">Уотфорд</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">6</p></td><td><p style="color:#FFFFFF">9</p></td><td><p style="color:#FFFFFF">14</p></td><td><p style="color:#FFFFFF">27</p></td><td><p style="color:#FFFFFF">44</p></td><td><p style="color:#FFFFFF">27</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">18.</p></td>
    <td><a href="http://127.0.0.1:8080/bour">Борнмут</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">7</p></td><td><p style="color:#FFFFFF">6</p></td><td><p style="color:#FFFFFF">16</p></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">47</p></td><td><p style="color:#FFFFFF">27</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">19.</p></td>
    <td><a href="http://127.0.0.1:8080/villa">Астон Вилла</a></td><td><p style="color:#FFFFFF">28</p></td><td><p style="color:#FFFFFF">7</p></td><td><p style="color:#FFFFFF">4</p></td><td><p style="color:#FFFFFF">17</p></td><td><p style="color:#FFFFFF">34</p></td><td><p style="color:#FFFFFF">56</p></td><td><p style="color:#FFFFFF">25</p></td>
  </tr>
  <tr>
    <td><p style="color:#FFFFFF">20.</p></td>
    <td><a href="http://127.0.0.1:8080/norwich">Норвич</a></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">5</p></td><td><p style="color:#FFFFFF">6</p></td><td><p style="color:#FFFFFF">29</p></td><td><p style="color:#FFFFFF">25</p></td><td><p style="color:#FFFFFF">52</p></td><td><p style="color:#FFFFFF">21</p></td>
  </tr>
  <tr>
  </tr>
</table>
<p><a href="http://127.0.0.1:8080/eplmatches">Предстоящие матчи</a></p>
