<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предстоящие матчи</title>
</head>
<body class="intro-header" style="background-image: url('static/img/epl45.jpg')">
<h1><p style="color:#FFFFFF">Предстоящие матчи</p></h1>
  <p><a href="http://127.0.0.1:8080/city">Манчестер Сити</a> -:- <a href="http://127.0.0.1:8080/bur">Бёрнли</a></p>
  <p><a href="http://127.0.0.1:8080/tth">Тоттенхэм</a> -:- <a href="http://127.0.0.1:8080/united">Манчестер Юнайтед</a></p>
  <p><a href="http://127.0.0.1:8080/ev">Эвертон</a> -:- <a href="http://127.0.0.1:8080/liverpool">Ливерпуль</a></p>
  <p><a href="http://127.0.0.1:8080/new">Ньюкасл</a> -:- <a href="http://127.0.0.1:8080/shef">Шеффилд Юнайтед</a></p>
  <p><a href="http://127.0.0.1:8080/brighton">Брайтон</a> -:- <a href="http://127.0.0.1:8080/arsenal">Арсенал</a></p>
  <p><a href="http://127.0.0.1:8080/west">Вест Хэм</a> -:- <a href="http://127.0.0.1:8080/wolves">Вулверхэмтон</a></p>
  <p><a href="http://127.0.0.1:8080/watford">Уотфорд</a> -:- <a href="http://127.0.0.1:8080/leicester">Лестер</a></p>
  <p><a href="http://127.0.0.1:8080/bour">Борнмут</a> -:- <a href="http://127.0.0.1:8080/kp">Кристал Пэлас</a></p>
  <p><a href="http://127.0.0.1:8080/villa">Астон Вилла</a> -:- <a href="http://127.0.0.1:8080/chelsea">Челси</a></p>
  <p><a href="http://127.0.0.1:8080/norwich">Норвич</a> -:- <a href="http://127.0.0.1:8080/sout">Саутгемтон</a></p>
</body>
</html>
