<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Эспаньол</title>
</head>
<body class="intro-header" style="background-image: url('static/img/espan1.jpg')">
<h1><p style="color:#00FFFF">Эспаньол</p></h1>
 <div><p style="color:#00FFFF">Тренер: Абелардо</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Диего Лопес(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Давид Лопес(15), Бернардо(20), Дидак Вила(17), Налдо(5), Адриа Педроса(3), Хави Лопес(16), Виктор Гомес(34), Себастьян Коршья(18), Пипа(2)</p></div>
 <div><p style="color:#00FFFF">Полузащитники:  Серджи Дардер(1)), Марк Рока(21), У Лэй(7), Матиас Варгас(22), Виктор Санчес(4), Оскар Малендо(14), Андер Итурраспе(8)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Рауль де Томас(11), Ханатан Кальери(12), Факундо Феррейра(9)</p></div>
<div><p style="color:#FFFF00">«Эспаньо́л» (кат. и исп. RCD Espanyol) — испанский профессиональный футбольный клуб из города Барселона, в одноимённой провинции. «Эспаньол» является первым в стране футбольным клубом, созданным исключительно испанцами, в ответ на основание иностранцами «Барселоны». Название «Espanyol», и означающее «испанский», было выбрано, чтобы подчеркнуть испанское происхождение. «Эспаньол» является шестым футбольным клубом по суммарному количеству очков, набранных в Примере.</p></div>
</body>
</html>
