<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Эвертон</title>
</head>
<body class="intro-header" style="background-image: url('static/img/ev.jpg')">
<h1><p style="color:#00FFFF">Эвертон</p></h1>
 <div><p style="color:#00FFFF">Тренер: Карло Анчелотти</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Джордан Пикфорд(1), Жоау Виржиния(31), Мартен Стекеленбург(22)</p></div>
 <div><p style="color:#00FFFF">Защитники: Джибриль Сидибе(19), Йерри Мина(13), Куко Мартина(30), Лейтон Бейнс(3), Люка Динь(12), Майкл Кин(5), Мэйсон Холгейт(2), Шеймус Коулмэн(23)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Алекс Ивоби(17), Андре Гомеш(21), Бени Банингиме(34), Бернард(20), Гильфи Сигурдссон(10), Жан-Филипп Гбамен(25), Кевин Миральяс(28), Морган Шнайдерлин(18), Ришарлисон(7), Тео Уолкотт(11), Том Дэвис(26), Фабиан Делф(8), Энтони Гордон(42)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Доминик Кэлверт-Льюин(9), Мойзе Кин(27), Умар Ньяссе(29)</p></div>
<div><p style="color:#FFFF00">«Э́вертон» (полное название — Футбольный клуб «Эвертон», англ. Everton Football Club, английское произношение: [ˈɛvərtən 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из Ливерпуля, графство Мерсисайд, Северо-Западная Англия. Выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии. Домашние матчи проводит на стадионе «Гудисон Парк».
В настоящее время клуб проводит 117-й сезон в высшем дивизионе чемпионата Англии, что является рекордным показателем среди всех английских клубов. Клуб также 9 раз становился чемпионом Англии, что является четвёртым результатом среди английских клубов. «Эвертон» непрерывно играет в высшем дивизионе английского футбола с 1954 года и является одним из клубов-основателей Премьер-лиги в 1992 году.
«Эвертон» был основан в 1878 году и является одним из клубов-основателей Футбольной лиги Англии в 1888 году. Свой первый чемпионский титул «ириски» выиграли в сезоне 1890/91. Последним на сегодня трофеем «Эвертона» является Кубок Англии 1995 года.</p></div>
</body>
</html>
