<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фиорентина</title>
</head>
<body class="intro-header" style="background-image: url('static/img/fiori2.jpg')">
<h1><p style="color:#FFFFFF">Фиорентина</p></h1>
 <div><p style="color:#FFFFFF">Тренер: Джузеппе Якини</p></div>
 <div><p style="color:#FFFFFF">Состав:</p></div>
 <div><p style="color:#FFFFFF">Вратари: Бартоломей Дранговски(69)</p></div>
 <div><p style="color:#FFFFFF">Защитники: Далберт(29), Никола Миленкович(4), Херман Пеццелья(20), Поль Лирола(21), Мартин Касерес(22), Лоренцо Венути(23), Федерико Чеккерини(17), Игор Жулио(3)</p></div>
 <div><p style="color:#FFFFFF">Полузащитники: Федерико Кьеза(25), Эрик Пульгар(78), Гаэтано Кастровилли((8), Франк Рибери(7), Марко Бенасси(24), Милан Бадель(5), Рикардо Соттиль(11), Рашид Геззаль(18), Альфред Данкан(88), Кевин Агудело(19)</p></div>
 <div><p style="color:#FFFFFF">Нападающие: Душан Влахович(28), Патрик Кутроне(63)</p></div>
<div><p style="color:#FFFF00">«Фиоренти́на» (итал. ACF Fiorentina) — итальянский профессиональный футбольный клуб из Флоренции. Двукратный чемпион Италии и шестикратный обладатель Кубка Италии.
Образован 29 августа 1926 года при объединении клуба «Фиренце» и футбольной секции молодёжной команды «Либертас».</p></div>
</body>
</html>
