<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фортуна</title>
</head>
<body class="intro-header" style="background-image: url('static/img/fortuna.png')">
<h1><p style="color:#00FF00">Фортуна</p></h1>
 <div><p style="color:#00FF00">Тренер: Уве Реслер</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Зак Стеффен(24), Флориан Кастенмайер(33)</p></div>
 <div><p style="color:#00FF00">Защитники: Каан Айхан(5), Андре Хоффманн(3), Нико Гиссельман(23), Маркус Зуттнер(29), Касим Адамс(4), Матиас Йоргенсен(19)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Эрик Томми(15), Кенан Караман(11), Альфредо Маралес(6), Оливер Финк(7), Адам Бодзек(13), Нана Ампома(27), Валон Бериша(10), Аймен Баркок(8), Келвин Офори(14)</p></div>
 <div><p style="color:#00FF00">Нападающие: Роуэн Хеннигс(28), Давид Ковнацки(9)</p></div>
<div><p style="color:#FFFF00">«Форту́на» (Fortuna Düsseldorf (инф.)) — немецкий футбольный клуб из Дюссельдорфа. В настоящее время играет в Бундеслиге.</p></div>
</body>
</html>
