<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Айнтрахт Франкфурт</title>
</head>
<body class="intro-header" style="background-image: url('static/img/frankfurt.jpg')">
<h1><p style="color:#00FFFF">Айнтрахт Франкфурт</p></h1>
 <div><p style="color:#00FFFF">Тренер: Ади Хюттер</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Кевин Трапп(1), Фредерик Реннов(22)</p></div>
 <div><p style="color:#00FFFF">Защитники: Мартин Хинтер Еггер(13), Альмами Туре(18), Данни да Кошта(24), Эван Ндика(2), Давид Абраам(19), Эрик Дурм(25)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Филип Костич(10), Джибриль Соу(8), Даити Камада(15), Себастья Роде(17), Мият Гачинович(11), Желсон Фернандес(5), Щтефан Ильзанкер(3), Джонатан де Гузман(6)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Гонсалу Пансенсия(39), Андре Силва(33), Бас Дост(9)</p></div>
<div><p style="color:#FFFF00">«Айнтра́хт» (нем. Eintracht Frankfurt e.V.) — немецкий профессиональный футбольный клуб, базируется во Франкфурте-на-Майне. Выступает в Бундеслиге. Домашний стадион клуба − «Коммерцбанк-Арена», вмещающий 51 500 зрителей.</p></div>
</body>
</html>
