<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Фрайбург</title>
</head>
<body class="intro-header" style="background-image: url('static/img/freiburg3.png')">
<h1><p style="color:#00FFFF">Фрайбург</p></h1>
 <div><p style="color:#00FFFF">Тренер: Кристиан Штрайх</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Александр Шволов(1), Марк Флеккен(26), Никлас Тиде(40)</p></div>
 <div><p style="color:#00FFFF">Защитники: Доминик Хайнц(23), Жонатан Шмид(7), Кристиан Гюнтер(30), Лука Иттер(24), Лукас Кюблер(17), Мануэль Гульде(5), Нико Шлоттербек(4), Робин Кох(25), Филипп Линхарт(3)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Амир Абраши(6), Брэндон Борелло(21), Винченцо Грифо(32), Йорик Раве(16), Квон Чхан Хун(28), Лино Темпельманн(32), Майк Франтц(8), Николас Хефлер(27), Роланд Шаллаи(22), Фабиан Рюдлин(39), Флориан Кат(38), Яник Хаберер(19), Янник Кайтель(36)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Лука Вальдшмидт(11), Лукас Хелер(9), Нильс Петерсен(18)</p></div>
<div><p style="color:#FFFF00">«Фра́йбург» (нем. Sport-Club Freiburg) — немецкий профессиональный футбольный клуб из одноимённого города, земля Баден-Вюртемберг, основанный в 1904 году.
В новейшем времени, с 1991 по 2007 год (17лет) команду тренировал Фолькер Финке, и это рекорд немецкого профессионального футбола по непрерывности тренерской работы в одном клубе. В «эру Финке» клуб добился наибольших успехов в своей истории, дважды завоевав право выступить в Кубке УЕФА.</p></div>
</body>
</html>
