<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хетафе</title>
</head>
<body class="intro-header" style="background-image: url('static/img/getafe.jpg')">
<h1><p style="color:#00FFFF">Хетафе</p></h1>
 <div><p style="color:#00FFFF">Тренер: Пепе Бордалас</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Давид Сория(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Домиан Суарес(22), Аллан Ньом(12), Матиас Оливера(17), Джене(2), Хаби Эчейта(16), Антунеш(3), Чема Родригес(6), Эрик Кабако(4)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Джейсон(23), Кеннеди(25), Мауро(18), Неманья Максимович(20), Давид Тимор(24), Фесаль Фажр(21), Огенекаро Этебо(5), Амат Ндиайе(11)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Хайме Мата(7), Анхель Родригес(9), Хорхе Молина(19), Дейверсон(14)</p></div>
<div><p style="color:#FFFF00">«Хета́фе» (исп. Getafe Club de Fútbol) — профессиональный футбольный клуб из Испании, который выступает в Ла Лиге. Команда располагается в одноимённом городе Хетафе, который является пригородом столицы Испании города Мадрида.</p></div>
</body>
</html>
