<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гранада</title>
</head>
<body class="intro-header" style="background-image: url('static/img/granada.png')">
<h1><p style="color:#00FF00">Гранада</p></h1>
 <div><p style="color:#00FF00">Тренер: Диего Мартинес Пенас</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Руи Силва(1), ААрон Эскандель(13)</p></div>
 <div><p style="color:#00FF00">Защитники: Виктор Диас(16), Домингуш Дуарте(22), Херман Санчес(6), Димтри Фулькье(2), Карлос Нева(15), Хосе Антонио Мартинес(5), Кини(17), Исмаил Кейбаши(11), Хесус Вальехо(20), Алекс Мартинес(3)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Дарвин Мачес(23), Антонио Пуэртас(10), Анхель Монторо(19), Альваро Вадильо(7), Янхель Эррера(21), Рамон Азиз(12), Феде Вико(14), Максим Гоналон(4), Ян Этеки(8), Жил Диаш(17)</p></div>
 <div><p style="color:#00FF00">Нападающие: Карлос Фернандес(24), Роберто Сальдадо(9)</p></div>
<div><p style="color:#FFFF00">«Грана́да» (исп. Granada CF) — испанский футбольный клуб из одноимённого города, в одноимённой провинции в автономном сообществе Андалусия. Является клубом-партнёром итальянского «Удинезе».</p></div>
</body>
</html>
