<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Герта</title>
</head>
<body class="intro-header" style="background-image: url('static/img/herta.png')">
<h1><p style="color:#FF0000">Герта</p></h1>
 <div><p style="color:#FF0000">Тренер: Александр Нури</p></div>
 <div><p style="color:#FF0000">Состав:</p></div>
 <div><p style="color:#FF0000">Вратари: Томас Крафт(1), Деннис Смарш(12)</p></div>
 <div><p style="color:#FF0000">Защитники: Максимилиан Миттельштедт(17), Дедрик Боята(20), Лукас Клюнтер(13), Никлас Штарк(5), Карим Рекик(4), Петер Пекарик(2)</p></div>
 <div><p style="color:#FF0000">Полузащитники: Доди Лукебакио(28), Владимир Дорида(6), Мариус Вольф(39), Марко Груйич(15), Саломон Калу(8), Пер Шелбред(3), Мэтью Лекки(11), Александер Эссвайн(9)</p></div>
 <div><p style="color:#FF0000">Нападающие: Ведад Ибишевич(19), Матеус Кунья), Паскаль Кепке(14)</p></div>
<div><p style="color:#FFFF00">«Ге́рта» (нем. Hertha, Berliner Sport-Club e.V.) — немецкий профессиональный футбольный клуб из города Берлин, выступающий в Бундеслиге. Основан в 1892 году, является одним из самых старых футбольных клубов своей страны. 2-кратный чемпион Германии. Домашние матчи проводит на Олимпийском стадионе вмещающем 74475 зрителей.</p></div>
</body>
</html>
