<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Хоффенхайм</title>
</head>
<body class="intro-header" style="background-image: url('static/img/hoff.jpg')">
<h1><p style="color:#00FF00">Хоффенхайм</p></h1>
 <div><p style="color:#00FF00">Тренер: Алфред Схройдер</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Александр Штольц(33), Михаэль Эссер(28), Оливер Бауманн(1), Филипп Пентке(12)</p></div>
 <div><p style="color:#00FF00">Защитники: Беньямин Хюбнер(21), Кевин Акпогума(25), Константинос Стафилидис(5), Лукас Рибейро(31), Мелайро Богарде(32), Павел Кадержабек(3), Штефан Пош(38), Эрмин Бичакчич(4)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Деннис Гайгер(8), Дадье Самассеку(18), Ила Бебу(9), Кристоф Баумгартнер(42), Роберт Сков(29), Саркис Адамян(23), Себастьян Руди(16), Стивен Цубер(17), Флориан Гриллич(11), Ховард Нордтвейт(6), Якоб Бруун Ларсен(7)</p></div>
 <div><p style="color:#00FF00">Нападающие: Андрей Крамарич(27), Исхак Бельфодиль(19), Максимилиан Байер(35), Моанес Даббур(10)</p></div>
<div><p style="color:#FF00FF">«Хо́ффенхайм» (нем. TSG 1899 Hoffenheim) — немецкий профессиональный футбольный клуб, основанный в 1899 году и представляющий бывшую деревню Хоффенхайм (население 3000 человек), которая ныне является районом города Зинсхайм, земля Баден-Вюртемберг. С сезона 2008/09 клуб играет в Бундеслиге.</p></div>
</body>
</html>
