<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интер Милан</title>
</head>
<body class="intro-header" style="background-image: url('static/img/inter.svg')">
<h1><p style="color:#00FFFF">Интер Милан</p></h1>
 <div><p style="color:#00FFFF">Тренер: Антонио Конте</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Самир Ханданович(1), Даниэле Паделли(27)</p></div>
 <div><p style="color:#00FFFF">Защитники: Стефан де Врей(6), Кристиано Бераги(34), Эшли Янг(15), Милан Шкриньяр(37), Диего Годин(2), Алессандро Бастони(95), Данило Д Амброзио(33), Квадво Асамоа(18), Федерико Димарко(13)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Марцело Брозович(77), Антонио Кандрева(87), Стефано Сенси(12), Николо Барелла(23), Матиас Весино(8), Роберто Гальядини(5), Алексис Санчес(7), Борха Валеро(20), Виктор Мозес(11), Кристиан Эриксен(24), Люсьен Агум(32)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Ромелу Лукаку(9), Лаутаро Мартинес(10), Себастьяно Эспозито(30)</p></div>
<div><p style="color:#FFFF00">«Интернациона́ле», или просто «Интер»; (итал. Football Club Internazionale Milano) — итальянский профессиональный футбольный клуб из города Милана, выступающий в Серии А. Один из самых титулованных клубов Италии. Клубные цвета — чёрный и синий. Титульный спонсор клуба — компания «Pirelli».
«Интер» — единственная команда в Италии, которая со дня своего создания не покидала высший дивизион чемпионата Италии.
«Интер» выиграл 30 национальных трофеев, 18 раз Чемпионат Италии, 7 раз Кубок Италии и 5 раз Суперкубок Италии. С 2005 по 2010 год клуб выиграл пять скудетто подряд. «Интер» побеждал в Кубке европейских чемпионов два раза подряд в 1964 и 1965 годах, а затем выиграл Лигу Чемпионов в 2010 году. Клуб также выиграл три Кубка УЕФА, 2 Межконтинентальных кубка и один Клубный чемпионат мира ФИФА.
«Интернационале» занял 12-е место в списке лучших футбольных клубов XX века по версии ФИФА, 10-е место — по версии журнала «Kicker». Также IFFHS поставил «Интер» на 6-е место в рейтинге лучших европейских клубов XX века.
По состоянию на 2019 год «Интернационале» является самой посещаемой командой в Италии. «Интер» первым из итальянских клубов ввёл сезонные абонементы. 30 июля 1995 года «Интер» первым из итальянских клубов открыл собственный интернет-сайт. 20 сентября 2000 года заработал клубный телеканал «Inter Channel».
«Интернационале» — один из семи клубов Европы (и единственный итальянский), сделавший так называемый «золотой хет-трик» (в сезоне 2009/10)</p></div>
</body>
</html>
