<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Дженоа</title>
</head>
<body class="intro-header" style="background-image: url('static/img/genoa23.jpg')">
<h1><p style="color:#00FFFF">Дженоа</p></h1>
 <div><p style="color:#00FFFF">Тренер: Давиде Никола</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Ионуц Раду(92), Маттиа Перин(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Доменико Кришито(4), Паоло Гильоне(18), Кристиан Ромеро(17), Петер Анкерсен(32), Кристиан Сапата(2). Антонио Баррека(3), Андреа Масьелло(55), Адама Сумаоро(92). Давиде Бираски(14), Марко Паяч(33), Эдоардо Гольданига(5)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Стефано Стураро(27), Лассе Шене(20), Франческо Кассата(29), Иван Радованивич(21), Лукас Лерагер(8), Валон Бехрами(85), Филип Ягелло(15), Денильо Клионизе(56), Николо Равелла(65), Яго Фальке(10)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Горан Пандев(19), Антонио Санабрия(9), Андреа Пиномонти(99), Андреа Фавилли(30), Маттиа Дестро(23)</p></div>
<div><p style="color:#FFFF00">«Дже́ноа» (итал. Genoa CFC) — итальянский футбольный клуб из города Генуя, в одноимённой провинции в регионе Лигурия. «Дженоа» является старейшим и одним из наиболее титулованных клубов Италии, команда 9 раз выигрывала чемпионат Италии. Генуэзцы доминировали в Италии во время проведения любительских чемпионатов, с 1898 по 1900 год «Грифоны» выиграли три первых розыгрыша чемпионата Италии.</p></div>
</body>
</html>
