<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ювентус</title>
</head>
<body class="intro-header" style="background-image: url('static/img/juve1.png')">
<h1><p style="color:#FF0000">Ювентус</p></h1>
 <div><p style="color:#FF0000">Тренер: Маурицио Сарри</p></div>
 <div><p style="color:#FF0000">Состав:</p></div>
 <div><p style="color:#FF0000">Вратари: Щесны Войцех(1), Пинсольо Карло(31), Перин Маттиа(37), Буффон Джанлуиджи(77)</p></div>
 <div><p style="color:#FF0000">Защитники: Де Шильо Маттиа(2), Кьеллини Джорджо(3), Де Лихт Маттайс(4), Алекс Сандро(12), Данило Луис(13), Бонуччи Леонардо(19), Ругани Даниэле(24), Демирал Мерих(28), Беруатто Пьетро(34), Кокколо Лука(41)</p></div>
 <div><p style="color:#FF0000">Полузащитники: Пьянич Миралем(5), Хедира Сами(6), Ремзи Аарон(8), Матуиди Блез(14), Джан Эмре(23), Рабио Адриен(25), Бетанкур Родриго(30), Бернардески Федерико(33), Хан Кван Сон(36), Мураторе Симоне(38), Портанова Моноло(39)</p></div>
 <div><p style="color:#FF0000">Нападающие: Роналду Криштиану(7), Дибала Паоло(10), Коста Дуглас(11), Куадрадо Хуан(16), Манджукич Марио(17), Оливьери Марко(18), Пьяца Марко(20), Игуаин Гонсало(21)</p></div>
<div><p style="color:#00FF00">«Юве́нтус» (итал. Juventus Football Club [ju.ˈvɛn.tus]; от лат. iuventus — юность) — итальянский профессиональный футбольный клуб из Турина, один из самых старых, титулованных и сильнейших клубов Италии, Европы и мира. Основан в 1897 году как «Спорт-клуб Ювентус» группой учащихся средней школы Турина, является третьим старейшим итальянским клубом и одним из двух клубов из Турина в Серии А. С 1920-х годов клубом владеет семья Аньелли.
«Ювентус» является самым титулованным клубом в Италии. В 1988 году клуб получил награду УЕФА за победы во всех турнирах, проводимых федерацией. Когда «Ювентус» выиграл суперкубок УЕФА в 1984, Межконтинентальный кубок в 1985 и кубок Интертото в 1999 году он стал единственным в мире клубом, которому покорились все турниры.
«Ювентус» занял 7-е место в списке лучших футбольных клубов XX века по версии ФИФА, 9-е место — по версии журнала kicker. Также IFFHS поставил «Ювентус» на 2-е место в рейтинге лучших европейских клубов XX века.
В сентябре 2012 года были опубликованы результаты опроса, который показал, что «Ювентус» — самая популярная команда в Италии. Кроме того, по данным компании Sport + Markt AG, всего в Европе за «Ювентус» болеет 13,1 миллиона человек</p></div>
</body>
</html>
