<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кёльн</title>
</head>
<body class="intro-header" style="background-image: url('static/img/koln.jpg')">
<h1><p style="color:#00FFFF">Кёльн</p></h1>
 <div><p style="color:#00FFFF">Тренер: Маркус Гидзоль</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Брэйди Скотт(31), Тимо Хорн(1), Томас Кесслер(18), Юлиан Краль(32)</p></div>
 <div><p style="color:#00FFFF">Защитники: Бенно Шмитц(2), Исмаиль Якобс(38), Йонас Хектор(14), Кингсли Эхизибуэ(19), Ноа Каттербах(34), Рафаэль Чихос(5), Роберт Фолодер(40), Себастьян Борнаув(33), Тони Ляйстнер(37), Хорхе Мере(22)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Биргер Верстрате(8), Доминик Дрекслер(24), Кингсли Шиндлер(11), Кристиан Клеменс(17), Марко Хегер(6), Марсель Риссе(7), Никлас Хауптманн(36), Флориан Кайнц(30), Эльвис Реджбечай(20), Элье Схири(28)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Антони Модест(27), Джон Кордоба(15), Марку Ут(23), Симон Теродде(9)</p></div>
<div><p style="color:#00FF00">«Кёльн» (нем. 1. Fußball-Club Köln 01/07 e. V.) — немецкий профессиональный футбольный клуб из одноимённого города, земля Северный Рейн-Вестфалия. Основан 13 февраля 1948 года после слияния клубов Kölner Ballspiel-Club 1901 и SpVgg Sülz 07. Домашние матчи проводит на стадионе «Рейн Энерги», вмещающем 50 374 зрителя. В сезоне 2018/19 победил в турнире Второй Бундеслиги и вернулся в высший дивизион немецкого футбола — Бундеслигу. Как и многие другие профессиональные немецкие футбольные клубы, «Кёльн» — часть большого спортивного клуба, объединяющего в себе команды по различным видам спорта.</p></div>
</body>
</html>
