<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кристал Пэлас</title>
</head>
<body class="intro-header" style="background-image: url('static/img/cp1.png')">
<h1><p style="color:#00FFFF">Кристал Пэлас</p></h1>
 <div><p style="color:#00FFFF">Тренер: Рой Ходжсон</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Висенте Гуаита(31), Стивен Хендерсон(19), Уэйн Хеннесси(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Гари Кэйхилл(24), Джайро Ридевалд(44), Джеймс Томкинс(5), Джоэл Уорд(2), Мамаду Сако(12), Мартин Келли(34), Патрик ван Анхолт(3), Райан Иннисс(33), Скотт Дэнн(6), Тайрик Митчелл(39)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Брэндон Пьеррик(40), Джеймс Макартур(18), Джеймс Маккарти(22), Джеффри Шлупп(15), Джованни Макгрегор(38), Лука Миливоевич(4), Люк Дриер(28), Максимилиан Майер(7), Нья Кирби(37), Уилфрид Заа(11), Шейху Куяте(8), Эндрос Таунсенд(10)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Дженк Тосун(20), Джордан Айю(9), Кристиан Бентеке(17)</p></div>
<div><p style="color:#FFFF00">«Кри́стал Пэ́лас» (полное название — Футбольный клуб «Кристал Пэлас», англ. Crystal Palace Football Club, английское произношение: ['krɪstl 'pælɪs 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из Кройдона, южный Лондон. В настоящее время выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии.
Клуб был основан в 1905 году. С 1924 года выступает на стадионе «Селхерст Парк». Главным соперником клуба является «Брайтон энд Хоув Альбион», с которым разыгрывается дерби М23. Команда дважды выходила в финал Кубка Англии — в 1990 и 2016 году — в обоих случаях проиграв «Манчестер Юнайтед». Наилучшим результатом в лиге является 3-е место в Первом дивизионе сезона 1990/91.
Прозвище клуба — «орлы» (The Eagles). Орёл также находится на эмблеме команды с 1970-х годов.</p></div>
</body>
</html>
