<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Краснодар</title>
</head>
<body class="intro-header" style="background-image: url('static/img/krasnodar.jpg')">
<h1><p style="color:#00FFFF">Краснодар</p></h1>
 <div><p style="color:#00FFFF">Тренер: Сергей Матвеев</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Станислав Крицюк(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Сергей Петров(98), Кристиан Ромирес(6), Александр Мартынович(4), Урош Спайич(5), Йоун Фьолосон(3), Егор Сорокин(2)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Магомед Шали(93), Вандерсон(10), Тонни Вильена(52), Кристоффер Ольсон(14), Руслан Камболов(7), Реми Кабелла(7), Юрий Газинский(8), Александ Черников(53)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Ари(9), Маркус Берг(33)</p></div>
<div><p style="color:#FFFF00">«Краснода́р» — российский профессиональный футбольный клуб из Краснодара, выступающий в чемпионате России. Основан 22 февраля 2008 года. Финалист Кубка России сезона 2013/14, бронзовый призёр чемпионата России сезона 2014/15 и 2018/19.</p></div>
</body>
</html>
