<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предстоящие матчи</title>
</head>
<body class="intro-header" style="background-image: url('static/img/laliga23.jpg')">
<h1><p style="color:#0000FF">Предстоящие матчи:</p></h1>
<h2><p style="color:#0000FF">Воскресенье, 24 мая</p></h2>
  <p><a href="http://127.0.0.1:8080/sevilla">Севилья</a> -:- <a href="http://127.0.0.1:8080/valencia">Валенсия</a></p>
  <p><a href="http://127.0.0.1:8080/atletico">Атлетико Мадрид</a> -:- <a href="http://127.0.0.1:8080/sos">Реал Сосьедад</a></p>
  <p><a href="http://127.0.0.1:8080/vill">Вильярреал</a> -:- <a href="http://127.0.0.1:8080/eibar">Эйбар</a></p>
  <p><a href="http://127.0.0.1:8080/granada">Гранада</a> -:- <a href="http://127.0.0.1:8080/atletic">Атлетик Бильбао</a></p>
  <p><a href="http://127.0.0.1:8080/osasuna">Осасуна</a> -:- <a href="http://127.0.0.1:8080/mallorca">Мальорка</a></p>
  <p><a href="http://127.0.0.1:8080/levante">Леванте</a> -:- <a href="http://127.0.0.1:8080/getafe">Хетафе</a></p>
  <p><a href="http://127.0.0.1:8080/alaves">Депортиво Алавес</a> -:- <a href="http://127.0.0.1:8080/barca">Барселона</a></p>
  <p><a href="http://127.0.0.1:8080/vallad">Реал Вальядолид</a> -:- <a href="http://127.0.0.1:8080/betis">Реал Бетис</a></p>
  <p><a href="http://127.0.0.1:8080/leganes">Леганес</a> -:- <a href="http://127.0.0.1:8080/real">Реал Мадрид</a></p>
  <p><a href="http://127.0.0.1:8080/espan">Эспаньол</a> -:- <a href="http://127.0.0.1:8080/celta">Сельта</a></p>
</body>
</html>
