<title>Ла Лига</title>
<body class="intro-header" style="background-image: url('static/img/laliga23.jpg')">
<h1>Ла Лига(Испания)</h1>
<h2><p style="color:#0000FF">Таблица чемпионата Испании на данный момент:</p></h2>
<table>
  <tr>
    <th>Позиция</th>
    <th>Команда</th>
     <th>Сыгранные матчи</th>
     <th>Выигрыши</th>
     <th>Ничьи</th>
     <th>Поражения</th>
     <th>Забитые мячи</th>
     <th>Пропущенные мячи</th>
     <th>Очки</th>
  </tr>
  <tr>
    <td>1.</td>
    <td><a href="http://127.0.0.1:8080/barca">Барселона</a></td><td>27</td><td>18</td><td>4</td><td>5</td><td>63</td><td>31</td><td>58</td>
  </tr>
  <tr>
    <td>2.</td>
    <td><a href="http://127.0.0.1:8080/real">Реал Мадрид</a></td><td>27</td><td>16</td><td>8</td><td>3</td><td>49</td><td>19</td><td>56</td>
  </tr>
  <tr>
    <td>3.</td>
      <td><a href="http://127.0.0.1:8080/sevilla">Севилья</a></td><td>27</td><td>13</td><td>8</td><td>6</td><td>39</td><td>29</td><td>47</td>
  </tr>
  <tr>
    <td>4.</td>
    <td><a href="http://127.0.0.1:8080/sos">Реал Сосьедад</a></td><td>27</td><td>14</td><td>4</td><td>9</td><td><p style="color:#00FF00">45</p></td><td><p style="color:#00FF00">33</p></td><td>46</td>
  </tr>
  <tr>
    <td>5.</td>
    <td><a href="http://127.0.0.1:8080/getafe">Хетафе</a></td><td>27</td><td>13</td><td>7</td><td>7</td><td><p style="color:#00FF00">37</p></td><td><p style="color:#00FF00">25</p></td><td>46</td>
  </tr>
  <tr>
    <td>6.</td>
    <td><a href="http://127.0.0.1:8080/atletico">Атлетико Мадрид</a></td><td>27</td><td>11</td><td>12</td><td>4</td><td>31</td><td>21</td><td>45</td>
  </tr>
  <tr>
    <td>7.</td>
    <td><a href="http://127.0.0.1:8080/valencia">Валенсия</a></td><td>27</td><td>11</td><td>9</td><td>7</td><td>38</td><td>39</td><td>42</td>
  </tr>
  <tr>
    <td>8.</td>
    <td><a href="http://127.0.0.1:8080/vill">Вильярреал</a></td><td>27</td><td>11</td><td>5</td><td>11</td><td><p style="color:#00FF00">44</p></td><td><p style="color:#00FF00">38</p></td><td>38</td>
  </tr>
  <tr>
    <td>9.</td>
    <td><a href="http://127.0.0.1:8080/granada">Гранада</a></td><td>27</td><td>11</td><td>5</td><td>11</td><td>33</td><td>32</td><td>38</td>
  </tr>
  <tr>
    <td>10.</td>
    <td><a href="http://127.0.0.1:8080/atletic">Атлетик Бильбао</a></td><td>27</td><td>9</td><td>10</td><td>8</td><td>29</td><td>23</td><td>37</td>
  </tr>
  <tr>
    <td>11.</td>
    <td><a href="http://127.0.0.1:8080/osasuna">Осасуна</a></td><td>27</td><td>8</td><td>10</td><td>9</td><td>34</td><td>38</td><td>34</td>
  </tr>
  <tr>
    <td>12.</td>
    <td><a href="http://127.0.0.1:8080/betis">Реал Бетис</a></td><td>27</td><td>8</td><td>9</td><td>10</td><td>38</td><td>43</td><td>33</td>
  </tr>
  <tr>
    <td>13.</td>
    <td><a href="http://127.0.0.1:8080/levante">Леванте</a></td><td>27</td><td>10</td><td>3</td><td>14</td><td>32</td><td>40</td><td>33</td>
  </tr>
  <tr>
    <td>14.</td>
    <td><a href="http://127.0.0.1:8080/alaves">Депортиво Алавес</a></td><td>27</td><td>8</td><td>8</td><td>11</td><td>29</td><td>37</td><td>32</td>
  </tr>
  <tr>
    <td>15.</td>
    <td><a href="http://127.0.0.1:8080/vallad">Реал Вальядолид</a></td><td>27</td><td>6</td><td>11</td><td>10</td><td>23</td><td>33</td><td>29</td>
  </tr>
  <tr>
    <td>16.</td>
    <td><a href="http://127.0.0.1:8080/eibar">Эйбар</a></td><td>27</td><td>7</td><td>6</td><td>14</td><td>27</td><td>41</td><td>27</td>
  </tr>
  <tr>
    <td>17.</td>
    <td><a href="http://127.0.0.1:8080/celta">Сельта</a></td><td>27</td><td>5</td><td>11</td><td>11</td><td>22</td><td>34</td><td>26</td>
  </tr>
  <tr>
    <td>18.</td>
    <td><a href="http://127.0.0.1:8080/mallorca">Мальорка</a></td><td>27</td><td>7</td><td>4</td><td>16</td><td>28</td><td>44</td><td>25</td>
  </tr>
  <tr>
    <td>19.</td>
    <td><a href="http://127.0.0.1:8080/leganes">Леганес</a></td><td>27</td><td>5</td><td>8</td><td>14</td><td>21</td><td>39</td><td>23</td>
  </tr>
  <tr>
    <td>20.</td>
    <td><a href="http://127.0.0.1:8080/espan">Эспаньол</a></td><td>4</td><td>8</td><td>15</td><td>23</td><td>46</td><td>20</td><td>46</td>
  </tr>
  <tr>
  </tr>
</table>
<p><a href="http://127.0.0.1:8080/laligamatches">Предстоящие матчи</a></p>
