<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лацио</title>
</head>
<body class="intro-header" style="background-image: url('static/img/lazio1.jpg')">
<h1><p style="color:#0000FF">Лацио</p></h1>
 <div><p style="color:#0000FF">Тренер: Симоне Индзаги</p></div>
 <div><p style="color:#0000FF">Состав:</p></div>
 <div><p style="color:#0000FF">Вратари: Томас Стракоша(23), Алиа Марко(71)</p></div>
 <div><p style="color:#0000FF">Защитники: Мануэль Лаццари(29), Франческо Ачерби(33), Луис Фелиппе(3), Штефан Раду(26), Баштуш(15), Джордан Лукаку(5), Патрик Габаррон(4), Денис Вавро(93)</p></div>
 <div><p style="color:#0000FF">Полузащитники: Луис Альберто(10), Хоакин Корреа(11), Сергей Малинкович-Савич(21), Адам Марушич(77), Сенад Лулич(19), Лукас Лейва(6), Хони Родригес(22), Данило Катальди(32), Бобби Адеканье(34), Марко Пароло(16), Валон Бериша(28)</p></div>
 <div><p style="color:#0000FF">Нападающие: Чиро Иммобиле(17), Фелиппе Кайседо(20)</p></div>
<div><p style="color:#FF0000">«Ла́цио» (итал. Lázio) — итальянский профессиональный футбольный клуб из Рима, основанный в 1900 году. Выступает в Серии А — высшем итальянском футбольном дивизионе, где провёл большую часть своей истории в качестве одного из лидеров. Футболисты «Лацио» дважды были чемпионами Италии (1974 и 2000), семь раз выигрывали Кубок Италии, пять Суперкубок Италии, а также европейские трофеи Кубок обладателей кубков УЕФА и Суперкубок УЕФА по одному разу.
Первый крупный успех клуба датирован 1958 годом, когда «Лацио» выиграл Кубок Италии. В 1974 году он выиграл свой первый титул чемпиона Италии. Самым успешным периодом в истории «Лацио» считаются последние пятнадцать лет, кульминацией которого стала победа в Кубке обладателей кубков и Суперкубке УЕФА в 1999 году, выигрыш Скудетто в 2000 году, несколько побед в кубках лиги и первое в истории клуба попадание в финал Кубка УЕФА в 1998 году.
Традиционной формой «Лацио» являются небесно-голубые футболки, белые шорты и белые гетры. Домашние матчи принимает на стадионе «Олимпико» в Риме, вмещающем 72 634 зрителя, на котором также выступает футбольный клуб «Рома», с которыми «Лацио» выясняет отношения начиная с 1929 года в Римском дерби (Derby della Capitale, Derby of the capital, Столичное дерби).
Также «Лацио» — это спортивный клуб, насчитывающий 48 дисциплин, что является самым большим спортивным объединением в Европе</p></div>
</body>
</html>
