<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лечче</title>
</head>
<body class="intro-header" style="background-image: url('static/img/lecce1.png')">
<h1><p style="color:#FFFFFF">Лечче</p></h1>
 <div><p style="color:#FFFFFF">Тренер: Фабио Ливерани</p></div>
 <div><p style="color:#FFFFFF">Состав:</p></div>
 <div><p style="color:#FFFFFF">Вратари: Габриэл(21), Мауро Вигорито(22)</p></div>
 <div><p style="color:#FFFFFF">Защитники: Марко Кальдерони(27), Лука Россеттини(13), Фабио Лучони(5), Джулио Донати(7), Андреа Рисполи(29), Бьяджо Меккарьелло(16), Кристиан Дель Орко(39), Брайан Вера(3), Неуэн Пас(6)</p></div>
 <div><p style="color:#FFFFFF">Полузащитники: Марко Манкозу(8), Филиппо Фалькао(10), Яколо Петриччоне(4), Риккардо Сапонара(18), Жан Маер(37), Евгений Шахов(11), Алессандро Дейола(14), Панайотис Тахцидис(77), Антонин Барак(72)</p></div>
 <div><p style="color:#FFFFFF">Нападающие: Джанлука Лападула(9), Хума Эль-Бабакар(30), Диего Фариас(17), Эдгарас Дубицкас(20)</p></div>
<div><p style="color:#C0C0C0">«Лечче» (итал. Unione Sportiva Lecce) — итальянский профессиональный футбольный клуб. Основан в 1908 году. С сезона 2019/2020 выступает в высшем дивизионе итальянского футбола — Серии А.</p></div>
</body>
</html>
