<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Леганес</title>
</head>
<body class="intro-header" style="background-image: url('static/img/leganes.png')">
<h1><p style="color:#00FF00">Леганес</p></h1>
 <div><p style="color:#00FF00">Тренер: Хавьер Агирре</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Иван Куэльяр(1), Хуан Сориано(13)</p></div>
 <div><p style="color:#00FF00">Защитники: Кевин Родригес(24), Унаи Бустинса(3), Кеннет Омеруо(4), Роберто Росалес(16), Ханатан Сильва(5), Димитрис Сиовас(22), Чидози Авазьем(12), Родриго Тарин(15), Марк Наварро(2)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Оскар Родригес(27), Роке Меса(6), Ресио(8), Рубен Перес(21), Хави Эрасо(17), Айтор Руибаль(19), Брайан Хиль(26), Ибраим Амаду(23), Хавьер Авилес(33)</p></div>
 <div><p style="color:#00FF00">Нападающие: Гидо Каррильо(18), Роже Ассале(20), Мигель Анхель Герреро(9)</p></div>
<div><p style="color:#FFFF00">«Легане́с» (исп. Club Deportivo Leganés) — испанский футбольный клуб из одноимённого города, в пригороде Мадрида. Клуб основан в 1928 году, домашние матчи проводит на стадионе «Бутарке», вмещающем 8 000 зрителей.</p></div>
</body>
</html>
