<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лестер Сити</title>
</head>
<body class="intro-header" style="background-image: url('static/img/leicester4.png')">
<h1><p style="color:#00FFFF">Лестер Сити</p></h1>
 <div><p style="color:#00FFFF">Тренер: Брендан Роджерс</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Дэнни Уорд(12), Каспер Шмейхель(1), Элдин Якупович(17)</p></div>
 <div><p style="color:#00FFFF">Защитники: Бен Чилуэлл(3), Джеймс Джастин(2), Джонни Эванс(6), Кристиан Фукс(28), Райан Беннет(29), Рикарду Перейра(21), Уэс Морган(5), Чаглар Сеюнджю(4)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Айосе Перес(17), Демерэй Грэй(7), Деннис Прат(26), Джеймс Мэддисон(10), Даниэл Амарти(18), Марк Олбрайтон(11), Мэттью Джеймс(22), Нампалис Менди(24), Уилфред Ндиди(25), Хамза Чоудри(20), Харви Барнс(15), Юри Тилеманс(8)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Джейми Варди(9), келечи Ихеаначо(14)</p></div>
<div><p style="color:#FFFF00">«Ле́стер Си́ти» (полное название — Футбольный клуб «Лестер Сити», англ. Leicester City Football Club, английское произношение: [ˈlɛstər 'sɪtɪ 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из Лестера. В настоящее время выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии.
Клуб был основан в 1884 году под названием «Лестер Фосс» (англ. Leicester Fosse F.C.). В 1919 году клуб изменил название на «Лестер Сити».
Традиционное среди болельщиков прозвище клуба — «лисы». С этим связан и девиз клуба «Foxes never quit» («Лисы никогда не сдаются»).
Долгие годы домашней ареной «Лестер Сити» был стадион «Филберт Стрит», на котором клуб выступал в течение 111 лет. С 2002 года домашним стадионом «Лестер Сити» является стадион «Кинг Пауэр» (ранее известен как «Уокерс») вместимостью более 32 тыс. мест.
Наивысшим достижением клуба является чемпионство в сезоне 2015/16. Команда также трижды выигрывала Кубок Футбольной лиги.</p></div>
</body>
</html>
