<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>РБ Лейпциг</title>
</head>
<body class="intro-header" style="background-image: url('static/img/leipzig4.png')">
<h1><p style="color:#00FF00">Лейпциг</p></h1>
 <div><p style="color:#00FF00">Тренер: Юлиан Нагельсманн</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Ивон Мвого(28), Петер Гулачи(1)6 Филипп Чаунер(33)</p></div>
 <div><p style="color:#00FF00">Защитники: Анхелиньо(3), Вилли Орбан(4), Дайо Упамекано(5), Ибраима Конате(6), Итан Ампаду(26), Лукас Клостерманн(16), Марсель Хальстенберг(23), Норди Мукиеле(22), Фредерик Йекель(37)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Адемола Лукман(17), Амаду Айдара(8), Даниэль Ольмо(25), Кевин Кампль(44), Конрад Лаймер(27), Кристофер Нкунку(18), Марсель Забитцер(7), Тайлер Адамс(14), Том Краус(53), Фабрис Хартманн(35), Ханнес Вольф(19), Эмиль Форсберг(10)</p></div>
 <div><p style="color:#00FF00">Нападающие: Патрик Шик(21), Тимо Вернер(11), Юссуф Поульсен(9)</p></div>
<div><p style="color:#FFFF00">«РБ Лейпциг» (нем. RasenBallsport Leipzig) — немецкий профессиональный футбольный клуб, базирующийся в Лейпциге. Образован в 2009 году. Домашние матчи проводит на стадионе «Ред Булл Арена» вместимостью более 44 тыс. зрителей.</p></div>
</body>
</html>
