<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Леванте</title>
</head>
<body class="intro-header" style="background-image: url('static/img/levante.png')">
<h1><p style="color:#00FFFF">Леванте</p></h1>
 <div><p style="color:#00FFFF">Тренер: Пако Лопес</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Айтор Фернанадес(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Хорхи Мирамон(20), Карлос Клерк(19), Тоньо(3), Серхио Постиго(15), Рубен Везу(14), Коке(23),Оскар Дуарте(6), Бруно Гонсалес(18), Гонсало(29), Элисео Фалькон(40)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Хосе Кампанья(24), Энис Барди(10), Рубен Рочина(16), Никола Вукчевич(17), Гонсало Мелеро(22), Эрнани(8), Неманя Радоя(5), Пабло Мартинес(36)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Рохер Маррти(9), Борха Майораль(21), Хосе Луис Моралес(11), Серхио Леон(7)</p></div>
<div><p style="color:#FFFF00">«Лева́нте» (исп. Levante Unión Deportiva) — испанский футбольный клуб из города Валенсия, основан в 1909 году. Старейший клуб Валенсии</p></div>
</body>
</html>
