<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ливерпуль</title>
</head>
<body class="intro-header" style="background-image: url('static/img/liverpool23.jpg')">
<h1><p style="color:#00FFFF">Ливерпуль</p></h1>
 <div><p style="color:#00FFFF">Тренер: Юрген Клопп</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Алиссон Беккер(1), Адриан(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Вирджил ван Дейк(4),Деян Ловрен(6),Джо Гомес(12),Жоэль Матип(32),Ки-Джана Хувер(51),Натаниэль Клайн(2),Сепп ван дер Берг(72),Трент Александр-Арнольд(66),Эндрю Робертсон(26)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Адам Лаллана(20),Алекс Окслейд-Чемберлен(15),Джеймс Милнер(7),Джердан Шакири(23),Джордан Хендерсон(14),Джорджиньо Вейналдум(5),Кёртис Джонс(48),Наби Кейта(8),Неко Уильямс(76),Такуми Минамино(18),Фабиньо(3)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Садьо Мане(10),Дивок Ориги(27),Мохамед Салах(11),Роберто Фирмино(9),Харви Эллиот(67)</p></div>
<div><p style="color:#00FF00">«Ливерпу́ль» (полное название — Футбольный клуб «Ливерпуль», англ. Liverpool City Football Club, английское произношение: ['lɪvəpu:l 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из одноимённого города, расположенного в графстве Мерсисайд. Был основан в 1892 году; в следующем году вступил в Футбольную лигу Англии. С момента своего создания проводит домашние игры на стадионе «Энфилд». Стадион был построен в 1884 году, на нём изначально играл другой ливерпульский футбольный клуб, <a href="http://127.0.0.1:8080/ev">Эвертон</a>. В настоящий момент «Энфилд» вмещает порядка пятидесяти четырёх тысяч болельщиков.
«Ливерпуль» является 18-кратным чемпионом Англии, 7-кратным обладателем Кубка Англии, 8-кратным обладателем Кубка лиги, 15-кратным обладателем Суперкубка Англии, 3-кратным обладателем Кубка УЕФА, 6-кратным победителем Лиги чемпионов, 4-кратным обладателем Суперкубка УЕФА. В общей сложности «Ливерпуль» выигрывал еврокубки тринадцать раз, что является четвёртым результатом после мадридского «Реала», «Милана» и «Барселоны». Самый успешный период в истории клуба приходится на 1970-е и 1980-е годы, когда командой руководили Билл Шенкли и Боб Пейсли, которые совместно на двоих выиграли 11 чемпионских титулов и 7 европейских трофеев.
Принципиальными соперниками с давних лет являются английские команды <a href="http://127.0.0.1:8080/ev">Эвертон</a> и <a href="http://127.0.0.1:8080/united">Манчестер Юнайтед</a>, с которыми разыгрываются мерсисайдское и северо-западное дерби соответственно. Гимном клуба является песня You’ll Never Walk Alone, перепетая в дальнейшем ливерпульской группой Gerry & The Pacemakers.
По данным Forbes на 2018 год, «Ливерпуль» занимал восьмое место в списке самых дорогих футбольных клубов мира и оценивался в сумму 1,944 млрд долларов США. По данным аудиторской компании Deloitte, по итогам сезона 2016/17 «Ливерпуль» занимал 9-ю строчку в рейтинге футбольных клубов с ежегодным доходом в размере 424,2 млн евро.
В 2020 году «Ливерпуль» по результатам исследования CIES Football Observatory признан самым дорогим по составу клубом в Европе</p></div>
</body>
</html>
