<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Локомотив</title>
</head>
<body class="intro-header" style="background-image: url('static/img/loko.jpeg')">
<h1><p style="color:#00FFFF">Локомотив</p></h1>
 <div><p style="color:#00FFFF">Тренер: Юрий Сёмин</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Гильерме(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Владислав Игнатьев(20), Мачей Рыбус(31), Дмитрий Живоглядов(2), Ведран Чорлука(14), Бенедикт Хеведес(5), Брайан Идову(3), Соломон Кверкелия(33)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Гжегош Крыховяк(7), АКлексей Миранчук(59), Рифат Жемалетдинов(17). Жоау Марио(23), Антон Миранчук(11). Дмитрий Баринов(6), Александр Коломейцев(18)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Эдер(19), Лука Джоржевич(22)</p></div>
<div><p style="color:#FFFF00">«Локомоти́в» — российский профессиональный футбольный клуб из Москвы. Выступает в Российской премьер-лиге. Основан 23 июля 1922 года. Один из старейших футбольных клубов России, ведущий свою историю с момента основания команды «Казанка» при Московско-Казанской железной дороге, затем неоднократно менявший своё название. Трёхкратный чемпион России, десятикратный обладатель Кубка страны: двукратный обладатель Кубка СССР и восьмикратный обладатель Кубка России, трёхкратный обладатель Суперкубка России. Дважды полуфиналист Кубка обладателей кубков.
Домашний стадион клуба — «РЖД Арена» в московском районе Черкизово, вмещающая 27 320 зрителей (во время матчей, проводимых УЕФА и ФИФА, носит название «Локомотив»). Генеральный спонсор клуба — ОАО «РЖД». Фарм-клуб «Локомотива» — «Казанка» — выступает во втором дивизионе чемпионата России, в зоне «Запад».</p></div>
</body>
</html>
