<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Майнц 05</title>
</head>
<body class="intro-header" style="background-image: url('static/img/mainz.png')">
<h1><p style="color:#FFFFFF">Майнц 05</p></h1>
 <div><p style="color:#FFFFFF">Тренер: Ахим Байерлорцер</p></div>
 <div><p style="color:#FFFFFF">Состав:</p></div>
 <div><p style="color:#FFFFFF">Вратари: Флориан Мюллер(1), Робин Центнер(27)</p></div>
 <div><p style="color:#FFFFFF">Защитники: Джерри Сен Жюст(4), Мусса Ниакате(19), Рональ Пьер-Габриэль(2), Аарон Мартин(3), Джефри Брума(13), Филипп Мвене(23)</p></div>
 <div><p style="color:#FFFFFF">Полузащитники: Робин Квайсон(7), Жан-Поль Биатиюс(5), Левин(8), Пьер Кунде(14), Данни Латца(6), Эдимилсон Фернандеш(20)</p></div>
 <div><p style="color:#FFFFFF">Нападающие: Жан-Филипп Матета(9), Адам Салаи(28)</p></div>
<div><p style="color:#00FF00">«Майнц 05» (нем. 1. FSV Mainz 05) — немецкий профессиональный футбольный клуб из города Майнц, Рейнланд-Пфальц. Начиная с сезона 2009/10 участвует в Бундеслиге, высшем дивизионе чемпионата Германии по футболу. Является частью системы спортивного клуба «Майнц 05», в котором также имеются подразделения гандбола и настольного тенниса.</p></div>
</body>
</html>
