<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мальорка</title>
</head>
<body class="intro-header" style="background-image: url('static/img/mallorca.jpg')">
<h1><p style="color:#00FFFF">Мальорка</p></h1>
 <div><p style="color:#00FFFF">Тренер: Висенте Морено</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Маноло Рейна(1), Фабри(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Хоан Састре(2), Антонио Раильо(21), Фран Гамес(15), Мартин Вальент(24), Лумор(3), Хиско Кампос(5), Александар Седлар(20), Абдул Рахман Баба(18), Леонардо Кутрис(16)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Дани Родригес(14), Сальва Савилья(8), Такефусо Кубо(26), Лаго Джуниор(11), Алейш Фебас(23), Алехандро Посо(7), Иддрису Баба(12), Хосеп Сенье(4), Марк Педраса(6), Яннис Салибур(16), Ки Сон Ен(10)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Анте Будемир(22), Кучо Эрнандес(29), Абдон Пратс(9)</p></div>
<div><p style="color:#00FF00">«Мальо́рка» (исп. Real Club Deportivo Mallorca) — испанский профессиональный футбольный клуб из города Пальма-де-Мальорка. Провёл 21 сезон в Ла Лиге.</p></div>
</body>
</html>
