<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Милан</title>
</head>
<body class="intro-header" style="background-image: url('static/img/milan.jpg')">
<h1><p style="color:#00FF00">Милан</p></h1>
 <div><p style="color:#00FF00">Тренер: Стефано Пиоли</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Джанлуиджи Доннарумма(21), Асмир Бегович(1), Хосе Рейна(29)</p></div>
 <div><p style="color:#00FF00">Защитники: Тео(19),Андреа Конти(12), Давиде Калабрия(2), Алессио Раманьоли(13), Матео Мусаккьо(22), Лео Дуарте(43), Симон Кьер(24), Маттео Габбия(46)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Хакан Чалханоглу(10), Франк Кессиа(79), Джакома Бонавентура(5), Самуэль Кастильехо(7), Лукс Пакета(39), Раде Крунич(33), Лукас Биглия(21), Исмаэль Беннасер(4), Алекс Салемакерс(56)</p></div>
 <div><p style="color:#00FF00">Нападающие: Анте Ребич(18), Златан Ибрагимович(21), Рафаэл Леау(17), Даниэль Мальдини(98)</p></div>
<div><p style="color:#00FFFF">«Мила́н» (итал. Associazione Calcio Milan) — итальянский профессиональный футбольный клуб из одноимённого города. «Милан» является одним из самых успешных клубов мира и самой титулованной итальянской командой по количеству международных трофеев. В 1963 году «Милан» стал первым итальянским клубом, выигравшим Кубок европейских Чемпионов. Кроме того, «Милан» является рекордсменом по количеству выигранных Суперкубков УЕФА наряду с «Барселоной» (5 побед). Также «Милан» является одной из шести европейских команд, которые заслужили право хранить у себя кубок Лиги чемпионов, который клуб выигрывал семь раз. Последним на сегодняшний день завоёванным трофеем стал Суперкубок Италии 2016.
«Милан» занял 7 место в списке лучших футбольных клубов XX века по версии ФИФА, 2 место — по версии журнала kicker. Также, IFFHS поставил «Милан» на 3 место в рейтинге лучших европейских коллективов XX века.
Домашний стадион «Милана», «Сан-Сиро», был построен президентом «россонери» Пьеро Пирелли для своего клуба и открыт в 1926 году. Он является крупнейшим футбольным стадионом в Италии и вмещает чуть больше 80 тысяч болельщиков.
В 2010 году «Милан» входил в десятку футбольных клубов с самыми высокими доходами. В апреле 2012 года журнал Forbes оценил клуб в $989 млн</p></div>
</body>
</html>
