<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наполи</title>
</head>
<body class="intro-header" style="background-image: url('static/img/napoli.jpg')">
<h1><p style="color:#00FFFF">Наполи</p></h1>
 <div><p style="color:#00FFFF">Тренер: Дженанаро Гаттузо</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Алекс Мерет(12), Давид Оспина(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Джованни Ди Лоренцо(22), Костас Манолас(44), Никола Максимович(19), Мариу Руй(6), Эльсеид Хюсай(23), Калиду Кулибали(26), Себастьяно Луперто(13), Фуэзи Гулям(31), Кевен Малькюи(2)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Лоренцо Инсинье(24), Хосе Кальехон(7), Петр Зелиньски(20), Фабиан Руис(8), Ирвинг Лосано(11), Аллан(5), Элиф Элмаз(12), Диего Демме(4), Амин Юнес(34), Маттео Палитано(21), Станислав Лоботка(68)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Дрис Мертенс(14), Аркадиуш Мелик(99), Фернандо Льоренте(9)</p></div>
<div><p style="color:#00FF00">«Наполи» (итал. S.S.C. Napoli) — итальянский профессиональный футбольный клуб из Неаполя, основан в 1926 году. В настоящее время играет в Серии А. Цвета клуба — лазурно-белые. Домашний стадион — «Сан-Паоло».
«Наполи» — двукратный победитель чемпионата Италии (1986/1987, 1989/1990), пятикратный обладатель Кубка Италии. На европейской арене клуб имеет одно весомое достижение — победа в Кубке УЕФА 1988/1989. «Наполи» является одним из сильнейших клубов Южной Италии и 4-й командой страны по количеству болельщиков.
Начиная с момента основания в 1926 году клуб несколько раз менял название. Изначально он назывался Associazione Calcio Napoli, в 1964 году команда была переименована в Società Sportiva Calcio Napoli и называлась так до 2004 года, когда «Наполи» постигло банкротство. Новый президент Аурелио Де Лаурентис возродил клуб под названием Napoli Soccer. В 2006 году он решил вернуть старое название — Società Sportiva Calcio Napoli.</p></div>
</body>
</html>
