<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ньюкасл</title>
</head>
<body class="intro-header" style="background-image: url('static/img/new1.jpg')">
<h1><p style="color:#00FFFF">Ньюкасл</p></h1>
 <div><p style="color:#00FFFF">Тренер: Стив Брюс</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Карл Дарлоу(26), Мартин Дубравка(1), Роберт Эллиот(21)</p></div>
 <div><p style="color:#00FFFF">Защитники: Деандре Йедлин(22), Джамаал Ласселс(6), Дэнни Роуз(28), Йетро Виллемс(15), Киран Кларк(2), Лиэм Гибсон(33), Пол Дамметт(3), Фабиан Шер(5), Федерико Фернандес(18), Флориан Лежен(20), Хави Манкильо(19), Эмиль Крафт(17)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Айзек Хэйден(14), Аллан Сен-Максимен(10), Валентино Лазаро(23), Джек Колбэк(23), Джонджо Шелви(8), Кристиан Атсу(30), Мигель Альмирон(24), Мэтт Ритчи(11), Мэттью Лонгстафф(43), Набиль Бенталеб(42), Шон Лонгстафф(36)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Дуэйт Гэйл(12), Жоэлинтон(9), Йосинори Муто(13), Томас Аллан(50), Энди Кэролл(7)</p></div>
<div><p style="color:#00FF00">«Ньюка́сл Юна́йтед» (полное название — Футбольный клуб «Ньюкасл Юнайтед», англ. Newcastle United Football Club; английское произношение: ['njuːkɑːsəl ju:ˈnaɪtɪd 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из города Ньюкасл-апон-Тайн на северо-востоке Англии. По итогам сезона 2016/17 выиграл Чемпионшип и завоевал себе право выхода в Премьер-лигу.
Домашний стадион «Ньюкасл Юнайтед», «Сент-Джеймс Парк», был открыт в 1880 году. Входит в четвёрку крупнейших футбольных стадионов в Англии и вмещает более 52 тысяч зрителей.
Клуб был основан в 1892 году в результате объединения двух футбольных клубов — «Ньюкасл Ист-Энд» и «Ньюкасл Вест-Энд». «Ньюкасл Юнайтед» — 4-кратный победитель чемпионата Англии, 6-кратный обладатель Кубка Англии, победитель Кубка ярмарок и Кубка Интертото.
Главным тренером команды с июля 2019 года является Стив Брюс. Капитан клуба — Джамал Ласселлс, который сменил Фабрисио Колоччини, ушедшего в «Сан-Лоренсо де Альмагро» летом 2016 года.
Принципиальными для «Ньюкасл Юнайтед» являются матчи с «Сандерлендом». Эти матчи известны в Англии под названием «Тайн-Уирское дерби»; первый матч между этими командами состоялся в 1898 году.</p></div>
</body>
</html>