<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Норвич</title>
</head>
<body class="intro-header" style="background-image: url('static/img/norwich2.png')">
<h1><p style="color:#FF00FF">Норвич</p></h1>
 <div><p style="color:#FF00FF">Тренер: Даниэль Фарке</p></div>
 <div><p style="color:#FF00FF">Состав:</p></div>
 <div><p style="color:#FF00FF">Вратари: Арчи Мэйр(60), Майкл Макговерн(33), Ральф Фэрманн(21), Тим Крул(1)</p></div>
 <div><p style="color:#FF00FF">Защитники: Бен Годфри(4), Грант Хэнли(5), Джамал Льюис(12), Кристоф Циммерманн(6), Макс ААронс(2), Сэм Байрэм(3), Тимм Клозе(15), Филип Хайзе(16)</p></div>
 <div><p style="color:#FF00FF">Полузащитники: Александер Тетти(27), Кенни Маклин(23), Лукас Рупп(7), Марио Вранчич(8), Марко Штиперманн(18), Мориц Ляйтнер(10), Ондрей Дуда(25), Онель Эрнандес(11), Тодд Трибулл(19), Эмилиано Буэндиа(17)</p></div>
 <div><p style="color:#FF00FF">Нападающие: Адам Ида(35), Йосип Дрмич(20), Теему Пукки(22)</p></div>
<div><p style="color:#FF0000">«Но́рвич Си́ти» (англ. Norwich City Football Club, английское произношение: [ˈnɒrɪdʒ 'sɪtɪ 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из города Норидж в графстве Норфолк, Восточная Англия. Был основан в 1902 году. С 1935 года проводит матчи на стадионе «Карроу Роуд», который в настоящее время вмещает более 27 тысяч зрителей.
По итогам сезона 2018/19 клуб выиграл Чемпионшип и получил право выступать в Премьер-лиге.
Традиционные цвета клуба — жёлто-зелёные майки и зелёные шорты, отсюда и пошло их прозвище — «канарейки» (англ. Canaries). На клубной эмблеме изображена канарейка, стоящая верхом на мяче. Принципиальным соперником «Норвич Сити» считается «Ипсвич Таун», матчи против которого именуются дерби Восточной Англии.</p></div>
</body>
</html>
