<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Оренбург</title>
</head>
<body class="intro-header" style="background-image: url('static/img/orenburg.png')">
<h1><p style="color:#00FFFF">Оренбург</p></h1>
 <div><p style="color:#00FFFF">Тренер: Константин Емельянов</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Александр Руденко(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Андрей Малых(12), Сергей Терехов(13), Урош Радакович(4), Михаил Сиваков(3), Ади Готлиб(6)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Рикарду Алавеш(10), Филип Рогич(7), Даниел Мишкич(8), Жига Шкофлек(17), Тимур Аюпов(5)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Джорже Деспотович(9), Андреа Чуканов(11), Маммаду Силла(14)</p></div>
<div><p style="color:#FFFF00">«Оренбу́рг» — российский профессиональный футбольный клуб из Оренбурга. Основан 1 января 1976 года.До сезона 2016/17 носил название «Газовик». В сезонах-2018/19, 2019/20 выступает в премьер-лиге. Полуфиналист Кубка России сезона 2014/15</p></div>
</body>
</html>
