<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Осасуна</title>
</head>
<body class="intro-header" style="background-image: url('static/img/osasuna.png')">
<h1><p style="color:#00FF00">Осасуна</p></h1>
 <div><p style="color:#00FF00">Тренер: Хагоба Аррасате</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Рубен Мартинес(13), Серхио Эррера(1)</p></div>
 <div><p style="color:#00FF00">Защитники: Аридане(23), Факундо(12), Унаи Гарсия(15), Давид Гарсия(5), Начо Видаль(2), Рауль Навас(3), Тони Лато(15)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Роберто Торрес(10), Чими Авила(9), Рубен Гарсия(14), Хон Манкайола(27), Иньиго Перс(21), Хуан Вильяр(18), Фран Мерида(8), Хосе Арнаис(16), Кике Барха(19)</p></div>
 <div><p style="color:#00FF00">Нападающие: Марк Кардона(7), Адриан(22), Энрик Гальего(11)</p></div>
<div><p style="color:#FF00FF">«Осасу́на» (баск. и исп. Club Atlético Osasuna) — испанский футбольный клуб из города Памплона, в автономном сообществе Наварра. Название клуба в переводе с баскского означает «здоровье».</p></div>
</body>
</html>
