<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Паддерборн 07</title>
</head>
<body class="intro-header" style="background-image: url('static/img/pader.jpg')">
<h1><p style="color:#00FFFF">Паддерборн 07</p></h1>
 <div><p style="color:#00FFFF">Тренер: Штеффен Баумгарт</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Леопольд Цингерле(17), Янник Хут(21)</p></div>
 <div><p style="color:#00FFFF">Защитники: Джамилу Коллина(29), Мохаммед Драгер(25), Себастьян Шонлау(13), Кристиан Шродик(5), Лоран Янс(20), Уве Хюнемайер(2)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Кай Прегер(9), Клаус Гьясула(8), Себастьян Василиадис(39), Геррит Хольтманн(38), Марлон Риттер(7), Самуэль(6)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Стрели Мамба(30), Свен Михель(11), Бен Цолински(31)</p></div>
<div><p style="color:#FFFF00">«Падерборн 07» (нем. SC Paderborn 07) — профессиональный футбольный клуб из немецкого города Падерборн.</p></div>
</body>
</html>
