<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Парма</title>
</head>
<body class="intro-header" style="background-image: url('static/img/parma.jpg')">
<h1><p style="color:#00FFFF">Парма</p></h1>
 <div><p style="color:#00FFFF">Тренер: Роберто ДАверса</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Луиджи Сепе(1), Симоне Коломби(34)</p></div>
 <div><p style="color:#00FFFF">Защитники: Риккардо Гальоло(28), Симоне Якопони(2), Маттео Дармиан(36), Бруну Алвеш(22), Джузеппе Пеццелла(97), Кастриот Дермаку(3), Венсан Лорини(16)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: еян Колусевски(44), Жервиньо(27), Юрай Куцка(33), Эрнани(10), Матео Скоццарелла(21), Антонио Барилла(17), Янн Карамо(7), Маттиа Спрокати(93), Гастон Бругман(15), Альберто Грасси(8), Ясмин Куртич(19), Лука Салигарди(26), Джанлука Капрари(20)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Андреас Корнелиус(11), Роберто Инглезе(9)</p></div>
<div><p style="color:#00FF00">«Па́рма» (итал. Parma, официально «Па́рма Кальчо 1913» (итал. Parma Calcio 1913)) — итальянский футбольный клуб из одноимёного города, в одноимённой провинции в регионе Эмилия-Романья. Клуб был основан 27 июля 1913 года под названием Футбольный клуб «Верди» (итал. Verdi Foot Ball Club). С 1923 года домашние матчи «Парма» проводит на стадионе «Эннио Тардини» вместимостью 23045 зрителей. После прошедшей 22 июня 2015 процедуры банкротства клуб переведен в Серию D. 18 мая 2018 года «Парма» после банкротства и трёх лет пребывания в низших дивизионах страны, вернулась в Серию А, став первым в истории итальянского футбола клубом, кому удалось пройти из Серии D в Серию А ровно за три сезона.
Хотя «Парма» никогда не выигрывала золотые медали чемпионата Италии, на счету клуба три Кубка Италии, один Суперкубок Италии, два Кубка УЕФА, один Кубок обладателей кубков УЕФА и один Суперкубок УЕФА. Все эти титулы были завоёваны во времена, когда клуб спонсировался Калисто Танци, основателем компании Parmalat, в период с 1992 по 2002 годы. В этот же период «Парма» заняла второе место в Серии A в сезоне 1996/97, что остаётся наивысшим результатом в истории клуба. «Парма» является одним из самых успешных итальянских клубов по количеству трофеев, завоёванных под эгидой УЕФА, уступая лишь «Милану», «Ювентусу» и «Интернационале».</p></div>
</body>
</html>
