<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реал Мадрид</title>
</head>
<body class="intro-header" style="background-image: url('static/img/real.jpg')">
<h1><p style="color:#00FFFF">Реал Мадрид</p></h1>
 <div><p style="color:#00FFFF">Тренер: Зенидин Зидан</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Тибо Куртуа(13), Альфонс Ареоля(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Даниэль Карвахаль(2), Серхио Рамос(4), Рафаэль Варан(5), Марсело(12), Ферлан Менди(23), Начо(6), Эдер Милитао(3)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Тони Кроос(8), Лука Модрич(10), Каземиро(14), Эден Азар(7), Гарет Бейл(11), Лукас Васкес(17), Иско(22), Родриго(27), Хамес(16), Браим Диас(21)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Карим Бензема(9), Лука Йович(18), Мариано Диас(7)</p></div>
<div><p style="color:#00FF00">«Реа́л Мадри́д» (исп. Real Madrid Club de Fútbol) — испанский профессиональный футбольный клуб из города Мадрида. Признан ФИФА лучшим футбольным клубом XX века. «Реал Мадрид» — один из трёх клубов, которые ни разу не покидали высший испанский дивизион, двумя другими являются «Барселона» и «Атлетик Бильбао». Является одним из самых титулованных клубов в испанском футболе. На его счету 62 национальных титула: рекордные 33 титула чемпиона Ла Лиги, 19 Кубков Испании и 10 Суперкубков Испании. Является рекордсменом по количеству побед и голов в Лиге чемпионов (13 раз, единственная команда, выигрывавшая этот турнир — тогда ещё Кубок Европейских чемпионов — 5 раз подряд).
По данным организации Deloitte, в сезоне 2016/17 «Реал» был вторым по уровню заработка среди клубов с годовым доходом 674,6 миллиона евро. Является одним из самых ценных спортивных клубов мира и самым дорогим футбольным клубом стоимостью 4,2 миллиарда долларов</p></div>
</body>
</html>
