<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рома</title>
</head>
<body class="intro-header" style="background-image: url('static/img/roma1.jpg')">
<h1><p style="color:#00FFFF">Рома</p></h1>
 <div><p style="color:#00FFFF">Тренер: Паулу Фонсека</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Пау Лопес(13), Антонио Миранте(83)</p></div>
 <div><p style="color:#00FFFF">Защитники: Александар Коларов(11), Крис Смолинг(6), Леонардо Спинаццола(37), Джанлука манчини(23), Алессандро Флоренци(98), Бруно Перес(33), Давиде Сантон(18), Федерико Фасио(20), Йылдырым Четин(15), Жуан Жезус(5), Давиде Дзаппакоста(2)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Лоренцо Пеллегрини(7), Генрих Мхитарян(77), Джастин Клюйверт(99), Николо Дзаньоло(22), Диего Пиротти(8), Брайан Кристанте(4), Дженгиз Ундер(17), Жордан Верету(21), Хавьер Пасторе(27), Карлес Перес(31), Амадк Диавара(42), Гансало Вильяр(14)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Эдин Джеко(9), Никола Калинич(19)</p></div>
<div><p style="color:#FFFF00">«Ро́ма» (итал. Associazione Sportiva Roma) — итальянский профессиональный футбольный клуб из Рима. Основан в 1927 году в результате объединения трёх римских команд: ФК «Роман», «Альба-Аудаче» и «Фортитудо-Про Рома».
Цвета клуба: золотисто-жёлтый и пурпурно-красный. Домашние матчи проводит на «Стадио Олимпико», вмещающем 72 698 зрителей. «Рома» принимала участие во всех сезонах Серии А с начала её основания (1929/30) кроме одного сезона в Серии B (1951/52). «Рома» является членом Ассоциации Европейских клубов.</p></div>
</body>
</html>
