<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ростов</title>
</head>
<body class="intro-header" style="background-image: url('static/img/rostov2.jpg')">
<h1><p style="color:#FFFFFF">Ростов</p></h1>
 <div><p style="color:#FFFFFF">Тренер: Валерий Карпин</p></div>
 <div><p style="color:#FFFFFF">Состав:</p></div>
 <div><p style="color:#FFFFFF">Вратари: Егор Бабурин(1)</p></div>
 <div><p style="color:#FFFFFF">Защитники: Евгений Чернов(28), Алексей Козлов(34), Денрис Хаджикадунич(5), Арсений Логашев(25), Данила Ведерников(4)</p></div>
 <div><p style="color:#FFFFFF">Полузащитники: Алексей Ионов(11), Хорен Байрамян(19), Роман Еременко(7), Ивелин Попов(8), Бактиер Зайнутдинов(19), Павел Мамаев(10), Данил Глебов(15)</p></div>
 <div><p style="color:#FFFFFF">Нападающие: Эльдор Шамуродов(14), Данила Прошляков(13)</p></div>
<div><p style="color:#FF0000">«Росто́в» — профессиональный российский футбольный клуб из Ростова-на-Дону. Основан 10 мая 1930 года[3]. В 1950 году клуб впервые принял участие в розыгрыше чемпионата СССР по футболу, наивысшего результата достиг в 1991 году, заняв 4-е место в турнире клубов Первой лиги, что позволило клубу уже следующий сезон начать в элитном дивизионе только что образованного чемпионата России. Наивысшим достижением в чемпионате России для клуба является 2 место, на котором клуб расположился в чемпионате 2015/16 годов. Победитель Первого дивизиона 2008 года. Является участником 24-х турниров розыгрыша Кубка СССР по футболу, наивысшим рубежом в этих турнирах является раунд 1/16 финала, достигнутый в 1954, 1964 и 1987 годах, а также всех розыгрышей Кубка России, наивысшим достижением является победа в Кубке России 2013/2014 года. В сезоне 2016/2017 участник группового этапа Лиги чемпионов, 1/8 Лиги Европы.</p></div>
</body>
</html>
