<title>Бундеслига</title>
<body class="intro-header" style="background-image: url('static/img/rpl5.png')">
<h1>РПЛ(Россия)</h1>
<h2><p style="color:#0000FF">Таблица чемпионата России на данный момент:</p></h2>
<table>
  <tr>
    <th><p style="color:#00FF00">Позиция</p></th>
    <th><p style="color:#00FF00">Команда</p></th>
     <th><p style="color:#00FF00">Сыгранные матчи</p></th>
     <th><p style="color:#00FF00">Выигрыши</p></th>
     <th><p style="color:#00FF00">Ничьи</p></th>
     <th><p style="color:#00FF00">Поражения</p></th>
     <th><p style="color:#00FF00">Забитые мячи</p></th>
     <th><p style="color:#00FF00">Пропущенные мячи</p></th>
     <th><p style="color:#00FF00">Очки</p></th>
  </tr>
  <tr>
    <td>1.</td>
    <td><a href="http://127.0.0.1:8080/zenit">Зенит</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">15</p></td><td><p style="color:#00FF00">5</p></td><td><p style="color:#00FF00">2</p></td><td><p style="color:#00FF00">44</p></td><td><p style="color:#00FF00">10</p></td><td><p style="color:#00FF00">50</p></td>
  </tr>
  <tr>
    <td>2.</td>
    <td><a href="http://127.0.0.1:8080/loko">Локомотив</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">12</p></td><td><p style="color:#00FF00">5</p></td><td><p style="color:#00FF00">5</p></td><td><p style="color:#00FF00">32</p></td><td><p style="color:#00FF00">25</p></td><td><p style="color:#00FF00">41</p></td>
  </tr>
  <tr>
    <td>3.</td>
      <td><a href="http://127.0.0.1:8080/krasnodar">Краснодар</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">11</p></td><td><p style="color:#00FF00">8</p></td><td><p style="color:#00FF00">3</p></td><td><p style="color:#00FF00">36</p></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">41</p></td>
  </tr>
  <tr>
    <td>4.</td>
    <td><a href="http://127.0.0.1:8080/rostov">Ростов</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">11</p></td><td><p style="color:#00FF00">5</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">39</p></td><td><p style="color:#00FF00">34</p></td><td><p style="color:#00FF00">38</p></td>
  </tr>
  <tr>
    <td>5.</td>
    <td><a href="http://127.0.0.1:8080/cska">ЦСКА</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">10</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">29</p></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">36</p></td>
  </tr>
  <tr>
    <td>6.</td>
    <td><a href="http://127.0.0.1:8080/dinamo">Динамо Москва</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">8</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">8</p></td><td><p style="color:#00FF00">20</p></td><td><p style="color:#00FF00">25</p></td><td><p style="color:#00FF00">30</p></td>
  </tr>
  <tr>
    <td>7.</td>
    <td><a href="http://127.0.0.1:8080/tula">Арсенал Тула</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">8</p></td><td><p style="color:#00FF00">4</p></td><td><p style="color:#00FF00">10</p></td><td><p style="color:#00FF00">25</p></td><td><p style="color:#00FF00">27</p></td><td><p style="color:#00FF00">28</p></td>
  </tr>
  <tr>
    <td>8.</td>
    <td><a href="http://127.0.0.1:8080/spartak">Спартак Москва</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">8</p></td><td><p style="color:#00FF00">4</p></td><td><p style="color:#00FF00">10</p></td><td><p style="color:#00FF00">24</p></td><td><p style="color:#00FF00">23</p></td><td><p style="color:#00FF00">28</p></td>
  </tr>
  <tr>
    <td>9.</td>
    <td><a href="http://127.0.0.1:8080/ufa">Уфа</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">9</p></td><td><p style="color:#00FF00">7</p></td><td><p style="color:#00FF00">16</p></td><td><p style="color:#00FF00">19</p></td><td><p style="color:#00FF00">27</p></td>
  </tr>
  <tr>
    <td>10.</td>
    <td><a href="http://127.0.0.1:8080/tambov">Тамбов</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">7</p></td><td><p style="color:#00FF00">4</p></td><td><p style="color:#00FF00">11</p></td><td><p style="color:#00FF00">26</p></td><td><p style="color:#00FF00">27</p></td><td><p style="color:#00FF00">25</p></td>
  </tr>
  <tr>
    <td>11.</td>
    <td><a href="http://127.0.0.1:8080/ural">Урал</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">7</p></td><td><p style="color:#00FF00">9</p></td><td><p style="color:#00FF00">26</p></td><td><p style="color:#00FF00">41</p></td><td><p style="color:#00FF00">25</p></td>
  </tr>
  <tr>
    <td>12.</td>
    <td><a href="http://127.0.0.1:8080/sochi">Сочи</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">10</p></td><td><p style="color:#00FF00">26</p></td><td><p style="color:#00FF00">28</p></td><td><p style="color:#00FF00">24</p></td>
  </tr>
  <tr>
    <td>13.</td>
    <td><a href="http://127.0.0.1:8080/orenburg">Оренбург</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">5</p></td><td><p style="color:#00FF00">11</p></td><td><p style="color:#00FF00">26</p></td><td><p style="color:#00FF00">36</p></td><td><p style="color:#00FF00">23</p></td>
  </tr>
  <tr>
    <td>14.</td>
    <td><a href="http://127.0.0.1:8080/rubin">Рубин</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">5</p></td><td><p style="color:#00FF00">8</p></td><td><p style="color:#00FF00">9</p></td><td><p style="color:#00FF00">12</p></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">23</p></td>
  </tr>
  <tr>
    <td>15.</td>
    <td><a href="http://127.0.0.1:8080/samara">Крылья Советов</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">6</p></td><td><p style="color:#00FF00">4</p></td><td><p style="color:#00FF00">12</p></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">29</p></td><td><p style="color:#00FF00">22</p></td>
  </tr>
  <tr>
    <td>16.</td>
    <td><a href="http://127.0.0.1:8080/achmat">Ахмат</a></td><td><p style="color:#00FF00">22</p></td><td><p style="color:#00FF00">4</p></td><td><p style="color:#00FF00">8</p></td><td><p style="color:#00FF00">10</p></td><td><p style="color:#00FF00">16</p></td><td><p style="color:#00FF00">29</p></td><td><p style="color:#00FF00">20</p></td>
  </tr>
</table>
<p><a href="http://127.0.0.1:8080/rplmatches">Предстоящие матчи</a></p>
