<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предстоящие матчи</title>
</head>
<body class="intro-header" style="background-image: url('static/img/rpl5.png')">
<h1><p style="color:#00FF00">Предстоящие матчи</p></h1>
<h2><p style="color:#00FF00">Понедельник, 11 мая</p></h2>
  <p><a href="http://127.0.0.1:8080/loko">Локомотив</a> -:- <a href="http://127.0.0.1:8080/cska">ЦСКА</a></p>
<h3><p style="color:#00FF00">Воскресенье, 17 мая</p></h3>
  <p><a href="http://127.0.0.1:8080/rostov">Ростов</a> -:- <a href="http://127.0.0.1:8080/zenit">Зенит</a></p>
  <p><a href="http://127.0.0.1:8080/cska">ЦСКА</a> -:- <a href="http://127.0.0.1:8080/tambov">Тамбов</a></p>
  <p><a href="http://127.0.0.1:8080/dinamo">Динамо Москва</a> -:- <a href="http://127.0.0.1:8080/orenburg">Оренбург</a></p>
  <p><a href="http://127.0.0.1:8080/ufa">Уфа</a> -:- <a href="http://127.0.0.1:8080/tula">Арсенал Тула</a></p>
  <p><a href="http://127.0.0.1:8080/krasnodar">Краснодар</a> -:- <a href="http://127.0.0.1:8080/achmat">Ахмат</a></p>
  <p><a href="http://127.0.0.1:8080/ural">Урал</a> -:- <a href="http://127.0.0.1:8080/loko">Локомотив</a></p>
  <p><a href="http://127.0.0.1:8080/rubin">Рубин</a> -:- <a href="http://127.0.0.1:8080/spartak">Спартак Москва</a></p>
  <p><a href="http://127.0.0.1:8080/samara">Крылья Советов</a> -:- <a href="http://127.0.0.1:8080/krasnodar">Краснодар</a></p>
  <p><a href="http://127.0.0.1:8080/samara">Крылья Советов</a> -:- <a href="http://127.0.0.1:8080/sochi">Сочи</a></p>
</body>
</html>
