<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Рубин</title>
</head>
<body class="intro-header" style="background-image: url('static/img/rubin1.jpg')">
<h1><p style="color:#00FFFF">Рубин</p></h1>
 <div><p style="color:#00FFFF">Тренер: Леонид Слуцкий</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Юрий Дюпин(22)</p></div>
 <div><p style="color:#00FFFF">Защитники: Олег Данченко(33), Филип Уремович(5), Константин Плиев(3), Николай Поярков(71), Карп Старфельт(2), Пабло(27)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Игорь Коновалов(10), Вячеслав Подберезкин(7), Павел Могилевец(18), Александр Зуев(12), Александр Ташаев(88), Дарко Евтич(8), Оливер Абильгор(28)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Евгений Марков(20), Иван Игнатьев(19)</p></div>
<div><p style="color:#FFFF00">«Руби́н» — российский профессиональный футбольный клуб из города Казань, столицы Республики Татарстан. Основан 20 апреля 1958 года под названием «Искра» как команда Казанского авиационного завода № 22 имени С. П. Горбунова. Один из лидеров российского футбола конца 2000-х и начала 2010-х годов. Двукратный чемпион России 2008 и 2009 годов. Обладатель Кубка России 2012, Кубка Содружества 2010, Суперкубка России 2010 и Суперкубка России 2012.
В 2009 году был признан лучшей командой года по версии Российского футбольного союза</p></div>
</body>
</html>
