<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Крылья Советов</title>
</head>
<body class="intro-header" style="background-image: url('static/img/samara.png')">
<h1><p style="color:#00FFFF">Крылья Советов</p></h1>
 <div><p style="color:#00FFFF">Тренер: Миодраг Божович</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Сергей Рыжиков(1), Евгений Фролов(39)</p></div>
 <div><p style="color:#00FFFF">Защитники: Максим Карпов(50), Никита Чернов(3), Тарас Бурлак(90), Дмитрий Комбаров(23), Владимир Полуяхтов(2), Виталий Лысцов(5)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Антон Зиньковский(17). Максим Канунников(99), Паул Антон(28), Денис Попович(11), Александр Гацкан(8), Антон Терехов(10), СафааХади(7)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Деян Радонич(9), Егор Голенков(69)</p></div>
<div><p style="color:#FFFF00">«Кры́лья Сове́тов» — российский футбольный клуб из Самары. Бронзовый призёр чемпионата России 2004 года, двукратный финалист Кубка СССР 1953, 1964, финалист Кубка России 2004.</p></div>
</body>
</html>
