<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сампдория</title>
</head>
<body class="intro-header" style="background-image: url('static/img/samp.png')">
<h1><p style="color:#FF00FF">Сампдория</p></h1>
 <div><p style="color:#FF00FF">Тренер: Клаудио Раньери</p></div>
 <div><p style="color:#FF00FF">Состав:</p></div>
 <div><p style="color:#FF00FF">Вратари: Эмиль Аудеро(1)</p></div>
 <div><p style="color:#FF00FF">Защитники: Омар Колли(15), Фабио Дапаоли(12), Никола Мурру(29), Бартош Берешиньски(24), Алекс Феррари(25), Томмазо Ауджелло(3), Юлиан Шабо(5), Лоренцо Тонелли(21), Мая Йосида(34)</p></div>
 <div><p style="color:#FF00FF">Полузащитники: Гастон Рамирес(11), Кароль Линетти(7), Якуб Янкто(14), Альбин Экдаль(6), Роналду Виейра(4), Мортен Торсбю(18), Андреа Бертолаччи(91), Эдгар Баррето(8), Гонсало Марони(20)</p></div>
 <div><p style="color:#FF00FF">Нападающие: Фабио Куальярелла(27), Маноло Габбьядини(23), Федерико Бонаццоли(9), Мехди Лерис(26), Антонино ла Гумина(17)</p></div>
<div><p style="color:#FFFF00">«Сампдо́рия» (итал. Unione Calcio Sampdoria) — итальянский профессиональный футбольный клуб из города Генуя. Клуб был создан в 1946 году путём объединения двух футбольных команд: «Андреа Дориа» и «Сампьердаренезе», первая из которых была создана в 1927 году, а вторая появилась в 1891 году. В настоящее время «Сампдория» выступает в итальянской Серии А. Клубные цвета — голубой, белый, красный и чёрный. Домашний стадион клуба — «Луиджи Феррарис» — вмещает 35 536 зрителей. На этом стадионе выступает и другой генуэзский клуб, «Дженоа». Встречи между этими двумя командами получили название «Фонарное дерби» (итал. Derby della Lanterna), название которого произошло от генуэзского маяка.</p></div>
</body>
</html>
