<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сассуоло</title>
</head>
<body class="intro-header" style="background-image: url('static/img/sass.png')">
<h1><p style="color:#FF0000">Сассуоло</p></h1>
 <div><p style="color:#FF0000">Тренер: Роберто Де Дзерби</p></div>
 <div><p style="color:#FF0000">Состав:</p></div>
 <div><p style="color:#FF0000">Вратари: Андреа Консильи(47), Джанлука Пеголо(56), Стефано Турати(63)</p></div>
 <div><p style="color:#FF0000">Защитники: жереми Толян(22), Федерико Пелузо(13), Георгиос Кирьякопулас(77), Мерт Мюльдер(17), Рожерио(6), Фелиппо Романья(19), Марлон(2), Джанмарко Феррари(31), Влад Кирикеш(21), Алессандро Трипальделли(33), Джанджакомо Маньяни(32)</p></div>
 <div><p style="color:#FF0000">Полузащитники: Доменико Берарди(25), Жереми Бога(7), Филип Джуричич(10), Мануэль Локателли(73), Хамед Траоре(23), Педро Обианг(14), Мехди Бурабия(68), Франческо Маньчнелли(4), Лукаш Гараслин(27)</p></div>
 <div><p style="color:#FF0000">Нападающие: Франческо Капуто(9), Грегуар Дефрель(11), Джакомо Распадори(18)</p></div>
<div><p style="color:#FFFF00">«Сассуо́ло» (итал. US Sassuolo) — итальянский профессиональный футбольный клуб из одноимённого города, в провинции Модена в регионе Эмилия-Романья. «Сассуоло» основан в 1920 году, домашние матчи проводит на стадионе «Мапеи», вмещающем 23 717 зрителей. Наивысшим достижением клуба вплоть до сезона 2012/13 стал выход в Серию B в сезоне 2007/08. Чемпион Серии B сезона 2012/13.
Первую победу в серии А в истории клуба «Сассуоло» одержал в игре против «Болоньи» (2:1), благодаря голам Доменико Берарди (с пенальти) и Флоро Флореса</p></div>
</body>
</html>
