<title>Серия А</title>
<body class="intro-header" style="background-image: url('static/img/seriea67.jpg')">
<h1>Серия А(Италия)</h1>
<h2><p style="color:#0000FF">Таблица чемпионата Италии на данный момент:</p></h2>
<table>
  <tr>
    <th>Позиция</th>
    <th>Команда</th>
     <th>Сыгранные матчи</th>
     <th>Выигрыши</th>
     <th>Ничьи</th>
     <th>Поражения</th>
     <th>Забитые мячи</th>
     <th>Пропущенные мячи</th>
     <th>Очки</th>
  </tr>
  <tr>
    <td>1.</td>
    <td><a href="http://127.0.0.1:8080/juve">Ювентус</a></td><td>26</td><td>20</td><td>3</td><td>3</td><td>50</td><td>24</td><td>63</td>
  </tr>
  <tr>
    <td>2.</td>
    <td><a href="http://127.0.0.1:8080/lazio">Лацио</a></td><td>26</td><td>19</td><td>5</td><td>2</td><td>60</td><td>23</td><td>62</td>
  </tr>
  <tr>
    <td>3.</td>
      <td><a href="http://127.0.0.1:8080/inter">Интер</a></td><td>25</td><td>16</td><td>6</td><td>3</td><td>49</td><td>24</td><td>54</td>
  </tr>
  <tr>
    <td>4.</td>
    <td><a href="http://127.0.0.1:8080/atalanta">Аталанта</a></td><td>25</td><td>14</td><td>6</td><td>5</td><td>70</td><td>34</td><td>48</td>
  </tr>
  <tr>
    <td>5.</td>
    <td><a href="http://127.0.0.1:8080/roma">Рома</a></td><td>26</td><td>13</td><td>6</td><td>7</td><td>51</td><td>35</td><td>45</td>
  </tr>
  <tr>
    <td>6.</td>
    <td><a href="http://127.0.0.1:8080/napoli">Наполи</a></td><td>26</td><td>11</td><td>6</td><td>9</td><td>41</td><td>36</td><td>39</td>
  </tr>
  <tr>
    <td>7.</td>
    <td><a href="http://127.0.0.1:8080/milan">Милан</a></td><td>26</td><td>10</td><td>6</td><td>10</td><td>28</td><td>34</td><td>36</td>
  </tr>
  <tr>
    <td>8.</td>
    <td><a href="http://127.0.0.1:8080/verona">Верона</a></td><td>25</td><td>9</td><td>8</td><td>8</td><td>29</td><td>26</td><td>35</td>
  </tr>
  <tr>
    <td>9.</td>
    <td><a href="http://127.0.0.1:8080/parma">Парма</a></td><td>25</td><td>10</td><td>5</td><td>10</td><td>32</td><td>31</td><td>35</td>
  </tr>
  <tr>
    <td>10.</td>
    <td><a href="http://127.0.0.1:8080/bologna">Болонья</a></td><td>26</td><td>9</td><td>7</td><td>10</td><td>38</td><td>42</td><td>34</td>
  </tr>
  <tr>
    <td>11.</td>
    <td><a href="http://127.0.0.1:8080/sass ">Сассуоло</a></td><td>25</td><td>9</td><td>5</td><td>11</td><td>41</td><td>39</td><td>32</td>
  </tr>
  <tr>
    <td>12.</td>
    <td><a href="http://127.0.0.1:8080/cagliari">Кальяри</a></td><td>25</td><td>8</td><td>8</td><td>9</td><td>41</td><td>40</td><td>32</td>
  </tr>
  <tr>
    <td>13.</td>
    <td><a href="http://127.0.0.1:8080/fiori">Фиорентина</a></td><td>26</td><td>7</td><td>9</td><td>10</td><td>32</td><td>36</td><td>30</td>
  </tr>
  <tr>
    <td>14.</td>
    <td><a href="http://127.0.0.1:8080/udinese">Удинезе</a></td><td>26</td><td>7</td><td>7</td><td>12</td><td>21</td><td>37</td><td>28</td>
  </tr>
  <tr>
    <td>15.</td>
    <td><a href="http://127.0.0.1:8080/torino">Торино</a></td><td>25</td><td>8</td><td>3</td><td>14</td><td>28</td><td>45</td><td>27</td>
  </tr>
  <tr>
    <td>16.</td>
    <td><a href="http://127.0.0.1:8080/samp">Сампдория</a></td><td>25</td><td>7</td><td>5</td><td>13</td><td>28</td><td>44</td><td>26</td>
  </tr>
  <tr>
    <td>17.</td>
    <td><a href="http://127.0.0.1:8080/jenoa">Дженоа</a></td><td>26</td><td>6</td><td>7</td><td>13</td><td>31</td><td>47</td><td>25</td>
  </tr>
  <tr>
    <td>18.</td>
    <td><a href="http://127.0.0.1:8080/lecce">Лечче</a></td><td>26</td><td>6</td><td>7</td><td>13</td><td>34</td><td>56</td><td>25</td>
  </tr>
  <tr>
    <td>19.</td>
    <td><a href="http://127.0.0.1:8080/spal">Спал</a></td><td>26</td><td>5</td><td>3</td><td>18</td><td>20</td><td>44</td><td>18</td>
  </tr>
  <tr>
    <td>20.</td>
    <td><a href="http://127.0.0.1:8080/bresia">Брешиа</a></td><td>26</td><td>4</td><td>4</td><td>18</td><td>22</td><td>49</td><td>16</td>
  </tr>
  <tr>
  </tr>
</table>
<p><a href="http://127.0.0.1:8080/serieamatches">Предстоящие матчи</a></p>
