<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Предстоящие матчи</title>
</head>
<body class="intro-header" style="background-image: url('static/img/seriea67.jpg')">
<h1><p style="color:#0000FF">Предстоящие матчи:</p></h1>
<h2><p style="color:#0000FF">Воскресенье, 24 мая</p></h2>
  <p><a href="http://127.0.0.1:8080/juve">Ювентус</a> -:- <a href="http://127.0.0.1:8080/roma">Рома</a></p>
  <p><a href="http://127.0.0.1:8080/atalanta">Аталанта</a> -:- <a href="http://127.0.0.1:8080/inter">Интер</a></p>
  <p><a href="http://127.0.0.1:8080/napoli">Наполи</a> -:- <a href="http://127.0.0.1:8080/lazio">Лацио</a></p>
  <p><a href="http://127.0.0.1:8080/milan">Милан</a> -:- <a href="http://127.0.0.1:8080/cagliari">Кальяри</a></p>
  <p><a href="http://127.0.0.1:8080/bologna">Болонья</a> -:- <a href="http://127.0.0.1:8080/torino">Торино</a></p>
  <p><a href="http://127.0.0.1:8080/sass ">Сассуоло</a> -:- <a href="http://127.0.0.1:8080/udinese">Удинезе</a></p>
  <p><a href="http://127.0.0.1:8080/jenoa">Дженоа</a> -:- <a href="http://127.0.0.1:8080/verona">Верона</a></p>
  <p><a href="http://127.0.0.1:8080/lecce">Лечче</a> -:- <a href="http://127.0.0.1:8080/parma">Парма</a></p>
  <p><a href="http://127.0.0.1:8080/spal">Спал</a> -:- <a href="http://127.0.0.1:8080/fiori">Фиорентина</a></p>
  <p><a href="http://127.0.0.1:8080/bresia">Брешиа</a> -:- <a href="http://127.0.0.1:8080/samp">Сампдория</a></p>
</body>
</html>
