<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Севилья</title>
</head>
<body class="intro-header" style="background-image: url('static/img/sevilla2.png')">
<h1><p style="color:#00FFFF">Севилья</p></h1>
 <div><p style="color:#00FFFF">Тренер: Хулен Лопетеги</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Томаш Вацлик(1), Яссин Буну(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Серхио(23), Хесус Навас(16), Жюль Кунде(12), Диего Карлос(20), Серджи Гомес(3), Серхио Эскудеро(18)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Лукас Окампос(5), Эвера Банега(10), ЖоанЖордан(24), Оливер Торрес(21), Нолито(8), Фернандо(25), Сусо(41), Рони Лопеш(7)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Люк де Йонг(19), Мунир(11), Юссеф(51)</p></div>
<div><p style="color:#00FF00">«Севи́лья» (исп. Sevilla Fútbol Club S.A.D.) — испанский профессиональный футбольный клуб из одноимённого города. Образован 25 января 1890 года. В настоящее время выступает в Примере. Домашние матчи проводит на стадионе «Рамон Санчес Писхуан», вмещающем 45 500 зрителей.</p></div>
</body>
</html>
