<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Шальке 04</title>
</head>
<body class="intro-header" style="background-image: url('static/img/shalke.jpg')">
<h1><p style="color:#00FFFF">Шальке 04</p></h1>
 <div><p style="color:#00FFFF">Тренер: Дэвид Вагнер</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Александр Нюбель(35), Маркус Шуберт(23), Михаэль Лангер(34)</p></div>
 <div><p style="color:#00FFFF">Защитники: Бастиан Очипка(24), Бенжамен Стамбули(17), Джонджо Кенни(20), Жан-Клер Тодибо(21), Матия Настасич(5), Озан Кабак(4), Салиф Сане(26), Тимо Беккер(31), Хуан Миранда(3)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Алессандро Шопф(28), Амин Харит(25), Бенито Раман(9), Даниэль Калиджури(18), Малик Тиав(33), Михаэль Грегорич(11), Мюнир Мерджан(37), Нассим Бужеляб(16), Омар Маскарель(6), Рабби Матондо(14), Суат Сердар(8), Уэстон Маккенни(2)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Ахмед Кутуджу(15), Гвидо Бургшталлер(19)</p></div>
<div><p style="color:#00FF00">«Ша́льке 04» (нем. Fußball-Club Gelsenkirchen-Schalke 04 e. V.) — профессиональный немецкий футбольный клуб из города Гельзенкирхен, земля Северный Рейн-Вестфалия. Один из самых популярных и титулованных футбольных клубов в Германии. В сентябре 2018 года число членов клуба перешагнуло отметку в 156 000 человек, и по этому показателю «Шальке 04» занимает второе место в Германии. Лучшего результата в еврокубках клуб добился в 1997 году, выиграв Кубок УЕФА. Самый заклятый соперник «Шальке 04» — дортмундская «Боруссия». Матч этих двух команд называется Рурское дерби. Дружественные отношения гельзенкирхенский клуб поддерживает с «Нюрнбергом». Талисмана клуба зовут Эрвин (нем. Ährwin, англ. Erwin), девиз клуба — Wir leben dich (с нем. — «Мы живём тобой»).</p></div>
</body>
</html>
