<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Шеффилд Юнайтед</title>
</head>
<body class="intro-header" style="background-image: url('static/img/shef.jpg')">
<h1><p style="color:#00FF00">Шеффилд Юнайтед</p></h1>
 <div><p style="color:#00FF00">Тренер: Крис Уайлдер</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Джейк Иствуд(13), Дин Хендерсон(1), Михаэль Веррипс(21), Саймон Мур(25)</p></div>
 <div><p style="color:#00FF00">Защитники: Джек О'Коннелл(5), Джек Робинсон(19), Джон Иган(12), Джордж Болдок(2), Киран Фримэн(18), Крис Башем(6), Пенайотис Рецос(29), Фил Джагелка(15), Энда Стивенс(3)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Бен Осборн(23), Джек Родуэлл, Джон Ландстрем(7), Джон Флек(4), Люк Фримэн(8), Мухамед Бешич(27), Оливер Норвуд(16), Сандер Берге(32)</p></div>
 <div><p style="color:#00FF00">Нападающие: Билли Шарп(10), Дэвид Макголдрик(17), Леон Кларк(24), Лис Муссе(22), Оливер Макберни(9), Ришайро Живкович(30)</p></div>
<div><p style="color:#FF00FF">«Ше́ффилд Юна́йтед» (полное название — Футбольный клуб «Шеффилд Юнайтед», англ. Sheffield United Football Club, английское произношение: ['ʃefiːld ju:ˈnaɪtɪd 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из города Шеффилд в графстве Саут-Йоркшир, Йоркшир и Хамбер. Основан 22 марта 1889 года. В настоящее время выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии. Домашним стадионом команды с момента основания клуба является «Брэмолл Лейн», вмещающий более 32 тысяч зрителей.
Клуб становился чемпионом Англии в сезоне 1897/98, а также четыре раза побеждал в Кубке Англии (в 1899, 1902, 1915 и 1925 году).
В сезоне 2018/19 занял второе место в Чемпионшипе, получив право выступать в Премьер-лиге следующего сезона.
Традиционным соперником команды является другой клуб из Шеффилда, «Шеффилд Уэнсдей», против которого разыгрывается дерби Стального города.
</p></div>
</body>
</html>
