<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сочи</title>
</head>
<body class="intro-header" style="background-image: url('static/img/sochi.jpg')">
<h1><p style="color:#FF00FF">Сочи</p></h1>
 <div><p style="color:#FF00FF">Тренер: Владимир Федотов</p></div>
 <div><p style="color:#FF00FF">Состав:</p></div>
 <div><p style="color:#FF00FF">Вратари: Сослан Джанаев(16), Николай Заболотный(12)</p></div>
 <div><p style="color:#FF00FF">Защитники: Ибрагим Цаллагов(15), Душан Лагатор(94), Иван Новосельцев(25), Миха Мевля(32), Эльмир Набиулин(24)</p></div>
 <div><p style="color:#FF00FF">Полузащитники: Андрей Мостовой(17), Кристиан Набоа(16), Никита Бурмистров(18), никита Колдунов(8)</p></div>
 <div><p style="color:#FF00FF">Нападающие: Антон Заболотный(9), Дмитрий Полоз(77), Александр Кокорин(91)</p></div>
<div><p style="color:#00FF00">«Со́чи» — российский футбольный клуб из одноимённого города. Образован 4 июля 2018 года. Домашние матчи проводит на стадионе «Фишт». С июля 2019 года выступает в Премьер-лиге.</p></div>
</body>
</html>
