<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реал Сосьедад</title>
</head>
<body class="intro-header" style="background-image: url('static/img/sos.jpg')">
<h1><p style="color:#FF0000">Реал Сосьедад</p></h1>
 <div><p style="color:#FF0000">Тренер: Иманоль Альгуасиль</p></div>
 <div><p style="color:#FF0000">Состав:</p></div>
 <div><p style="color:#FF0000">Вратари: Алекс Ремиро(1), Мигель Мойя(13)</p></div>
 <div><p style="color:#FF0000">Защитники: Хосеба Сальдуа(2), Начо Монреаль(20), Диего(3), Робен Ле Норман(24), Ариц Элусстондо(15), Айен Муньос(12), Андони(18)</p></div>
 <div><p style="color:#FF0000">Полузащитники: Порту(7), Микель(10), Мартин Эдегор(21), Аднан Янузай(11), Микель Мерино(8), Игор Субельдия(5), Андер(22), Лука Сангальи(23), Андер Гавара(16), Асьер(4)</p></div>
 <div><p style="color:#FF0000">Нападающие: Виллиан Жозе(9), Александер Исак(19)</p></div>
<div><p style="color:#00FF00">«Реа́л Сосьеда́д» (баск. Reala Sociedad) (исп. Real Sociedad de Fútbol (произношение: [reˈal soθjeˈðað]) — «Королевское футбольное общество») — испанский профессиональный футбольный клуб из Доностии/Сан-Себастьяна, выступающий в испанской Примере, один из основателей Примеры в 1928 году. Домашние матчи проводит на стадионе «Аноэта». Двукратный чемпион Испании (1980/81 и 1981/82), обладатель Кубка Испании (1909 и 1987).</p></div>
</body>
</html>
