<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Саутгемптон</title>
</head>
<body class="intro-header" style="background-image: url('static/img/sout1.png')">
<h1><p style="color:#00FF00">Саутгемптон</p></h1>
 <div><p style="color:#00FF00">Тренер: Ральф Хазенхюттль</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Алекс Маккарти(1), Ангус Ганн(28), Харри Льюис(41)</p></div>
 <div><p style="color:#00FF00">Защитники: Джек Стивенс(5), Кайл Уокер-Питерс(24), Кевин Данзо(38), Райан Бертран(21), Сэм Маккуин(12), Ян Беднарек(35), Ян Валери(43), Янник Вестергор(4)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Джеймс Уорд-Проуз(16), Мусса Дженепо(12), Натан Редмонд(22), Ориоль Ромеу(14), Пьер-Эмиль Хейбьерг(23), Софьян Буфаль(19), Стюарт Армстронг(17), Уильям Смоллбоун(27)</p></div>
 <div><p style="color:#00FF00">Нападающие: Дэнни Ингз(9), Дэн Нлундулу(40), Майкл Обафеми(20), Че Адамс(10), Шейн Лонг(7)</p></div>
<div><p style="color:#FFFF00">«Саутге́мптон» (полное название — Футбольный клуб «Саутгемптон», англ. Southampton Football Club; английское произношение: [saʊθˈhæmptən 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из одноимённого города в графстве Гэмпшир, Юго-Восточная Англия. Выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии. Образован в 1885 году. Домашним стадионом клуба является «Сент-Мэрис», вмещающий более 32 тысяч зрителей.
Традиционное прозвище клуба — «святые» (англ. The Saints), так как «Саутгемптон» был основан членами Молодёжной ассоциации церкви Святой Девы Марии (англ. St Mary’s Church of England Young Men’s Association). Традиционные цвета клуба — красно-белые.
Главный тренер «Саутгемптона» — Ральф Хазенхюттль, назначенный на эту должность после увольнения Марка Хьюза. Капитаном команды является Пьер-Эмиль Хёйбьерг.
Принципиальным соперником «Саутгемптона» является «Портсмут», матчи против которого известны в Англии под названием «Дерби Южного побережья</p></div>
</body>
</html>
