<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>СПАЛ 2013</title>
</head>
<body class="intro-header" style="background-image: url('static/img/spal.jpg')">
<h1><p style="color:#00FFFF">СПАЛ 2013</p></h1>
 <div><p style="color:#00FFFF">Тренер: </p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Этрит Бериша(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Тиаго Чонек(4), Ненад Томович(40), Аркадиуш Реца(13), Кевин Бонифаци(41), Франческо Векари(23), Фелипе(27), Якопо Сала(26), Эрвин Зуканович(87)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Эспето(21), Симоне Массмроли(7), Маттиа Валоти(8), Федерико Ди Франческо(31), Мирко Вальдифьори(6), Алессандро Мурджа(11), Бриан Дабо(14), Лукас Кастро(19), Марко ДАлессандро(77), Георгий Тунев(96), Мухамед Фарес(93)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Андреа Петанья(37), Серджо Флоккари(10)</p></div>
<div><p style="color:#00FF00">СПАЛ (итал. SPAL — Società Polisportiva Ars et Labor, Спортивное общество искусства и труда) — итальянский футбольный клуб из города Феррара, выступающий в Серии А, первом по силе дивизионе чемпионата Италии.
Основан в 1907 году. Домашние матчи проводит на стадионе «Паоло Мацца» (с 1928 года, назван в честь президента клуба с 1946 по 1977), вмещающем 17 900 зрителей. В Серии А СПАЛ провёл в общей сложности 20 сезонов, последним из которых стал сезон 1967/68. Лучшим достижением клуба в Серии А стало 5-е место в сезоне 1959/60. Высшим достижением в Кубке страны является проигрыш в финале «Наполи» со счётом 1:2.</p></div>
</body>
</html>
