<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спартак Москва</title>
</head>
<body class="intro-header" style="background-image: url('static/img/spartak4.png')">
<h1><p style="color:#00FFFF">Спартак Москва</p></h1>
 <div><p style="color:#00FFFF">Тренер: Доменико Тедеско</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Александр Максименко(98), Артем Ребров(32)</p></div>
 <div><p style="color:#00FFFF">Защитники: Самуэль Жиго(2), Георгий Джикия(14), Айртон(6), Николай Рассказов(92), Илья Кутепов(29), Андрей Ещенко(38), Илья Гапонов(56), Павел Маслов(39)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Зелимхан Бакаев(10), Гус Тил(8), Резиуан Мирзов(9), Роман Зобнин(47), Лоренсо Мельгарехо(25), Алекс Крал(33), Аяз Гулиев(7), Наиль Умяров(54), Михаил Игнатов(22)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Йордан Ларссон(23), Эсекиаль Понсе(19), Александр Соболев(77)</p></div>
<div><p style="color:#00FF00">«Спарта́к» — российский профессиональный футбольный клуб из Москвы, основан 18 апреля 1922 года. Самый популярный российский клуб по исследованию «Яндекса», один из самых популярных футбольных клубов страны по исследованию ВЦИОМ. Входит в топ-20 самых популярных клубов Европы.
Самый титулованный футбольный клуб России. 12-кратный чемпион СССР, 10-кратный чемпион России, 10-кратный обладатель Кубка СССР, 3-кратный обладатель Кубка России, обладатель Суперкубка России, 6-кратный обладатель Кубка Содружества, полуфиналист трёх главных клубных европейских турниров (Кубка европейских чемпионов, Кубка обладателей кубков и Кубка УЕФА). Лучший российский клуб в истории Лиги чемпионов. С советских времён распространено клише «„Спартак“ — народная команда». Фарм-клуб «Спартака» — «Спартак-2» — выступает в Футбольной национальной лиге.</p></div>
</body>
</html>
