<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тамбов</title>
</head>
<body class="intro-header" style="background-image: url('static/img/tambov23.jpg')">
<h1><p style="color:#00FFFF">Тамбов</p></h1>
 <div><p style="color:#00FFFF">Тренер: Сергей Первушин</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Гиорги Шелия(88)</p></div>
 <div><p style="color:#00FFFF">Защитники: Гурам Тетрашвили(3), Сослан Токазов(30), Алексей Рыбин(2), Алексей Грицаенко(27), Александр Филин(15), Евгений Шляков(5), Игорь Юрганов(22)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Георгий Мелкадзе(19), Михаил Костюков(77), Антон Килин(8), Павел Карасев(25), Хетаг Хосонов(17), Мигел Кардозу(7)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Владимир Обухов(13), Хасан Мамтов(9), Артем Федчук(11)</p></div>
<div><p style="color:#FFFF00">«Тамбо́в» — российский профессиональный футбольный клуб из одноимённого города. Основан в 2013 году. С 2016 года выступал в ФНЛ. В 2019 году стал чемпионом ФНЛ и вышел в РПЛ.</p></div>
</body>
</html>
