<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Торино</title>
</head>
<body class="intro-header" style="background-image: url('static/img/torino.jpg')">
<h1><p style="color:#00FFFF">Торино</p></h1>
 <div><p style="color:#00FFFF">Тренер: Морено Лонго</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Сальваторе Сиригу(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Кристиан Ансальди(15), Глейсон Бремер(36), Армандо Иццо(5), Ола Айна(34), Диего Лаксальт(93), Лоренцо де Сильвестри(29), Николя Нкулу(33), Коффи Джиджи(30), Лянко Войнович(4)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Алекс Беренгер(21), Симоне Верди(24), Томас Ринкон(88), Суалио Мейте(23), Даниэле Базелли(8), Саша Лукич(7), Симоне Эдера(20), Винченце Миллико(22). Мишень Ндари Адоло(80)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Андреа Белотти(9), Симоне Дзадза(11)</p></div>
<div><p style="color:#FFFF00">«Тори́но» (итал. Torino Football Club SpA) — итальянский профессиональный футбольный клуб из города Турин. Образован 3 декабря 1906 года. 7-кратный чемпион Италии.
В Италии «Торино» считается одним из самых успешных клубов, особенно за период 1942—1949 гг., когда «Торино» доминировал в Европе и завоевал 5 чемпионских титулов Серии А подряд. В то время «Торино» был первым итальянским клубом, ставшим чемпионом дважды подряд. Пять раз клуб выигрывал Кубок Италии, последний раз в 1993. Финалист Кубка УЕФА 1991/1992. Обладатель Кубка Митропы 1991.
В суммарном историческом рейтинге серии А «Торино» занимает 8-е место.
Детская футбольная школа «Торино» считается одной из лучших футбольных школ в Италии</p></div>
</body>
</html>
