<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тоттенхэм</title>
</head>
<body class="intro-header" style="background-image: url('static/img/tth1.jpeg')">
<h1><p style="color:#FF0000">Тоттенхэм</p></h1>
 <div><p style="color:#FF0000">Тренер: Жозе Моуринью</p></div>
 <div><p style="color:#FF0000">Состав:</p></div>
 <div><p style="color:#FF0000">Вратари: Алфи Уайтман(41), Брэндон Остин(49), Мишель Ворм(13), Пауло Гассанига(22), Уго Льорис(1)</p></div>
 <div><p style="color:#FF0000">Защитники: Бен ДэвисДэвис(33), Давинсон Санчес(6), Джафет Танганга(39), Мэлекай Фэган-Уолкотт(64), Серж Орье(24), Тоби Алдервейрелд(4), Хуан Фойт(21), Ян Вертонген(5)</p></div>
 <div><p style="color:#FF0000">Полузащитники: Деле Алли(20), Джовани Ло Чельсо(18), Жедсон Фернандеш(30), Лукас Моура(27), Мусса Сиссоко(17), Оливер Скипп(29), Райан Сессеньон(19), Сон Хын Мин(7), Стевен Бергвейн(23), Танги Ндомбеле(28), Харри Уинкс(8), Эрик Дайер(15), Эрик Ламела(11)</p></div>
 <div><p style="color:#FF0000">Нападающие: Трой Пэрротт(52), Харри Кейн(10)</p></div>
<div><p style="color:#0000FF">«То́ттенхэм Хо́тспур» (полное название — Футбольный клуб «Тоттенхэм Хотспур», англ. Tottenham Hotspur Football Club; английское произношение: [ˈtɒtənəm 'hɔtspɜ: 'futbɔ:l klʌb], «То́ттенем Хо́тспер») — английский профессиональный футбольный клуб из Тоттенема, боро Харинги на севере Лондона. Выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии. Основан в 1882 году. Прозвище клуба — «шпоры» (англ. Spurs). Домашние матчи проводит на одноимённом стадионе.
«Тоттенхэм Хотспур» стал первым клубом в XX веке, сделавшим домашний «дубль», выиграв и чемпионат, и Кубок Англии в сезоне 1960/1961. В 1963 году «шпоры» стали первым британским клубом, выигравшим европейский кубок — Кубок обладателей кубков УЕФА. В 1980-е годы «шпоры» выиграли несколько трофеев: дважды Кубок Англии, Суперкубок Англии, Кубок УЕФА (1983/1984).
«Тоттенхэм» традиционно соперничает с ближайшим соседом, «Арсеналом»: матчи между этими двумя командами называют «северолондонским дерби».</p></div>
</body>
</html>
