<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Арсенал Тула</title>
</head>
<body class="intro-header" style="background-image: url('static/img/tula.jpg')">
<h1><p style="color:#00FFFF">Арсенал Тула</p></h1>
 <div><p style="color:#00FFFF">Тренер: Игорь Черевченко</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Артур Нигматуллин(1), Егор Шамов(50)</p></div>
 <div><p style="color:#00FFFF">Защитники: Кирилл Комбаров(9), Роберт Бауэр(4), Максим Беляев(6), Гия Григалава(8), Анри Хагуш(14), Максим Володько(13)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Сергей Ткачев(11), Даниил ЛесовоЙ(22), Игорь Горбатенко(23), Эванс Кангва(10), Александр Ломовицкий(27), Кантемир Бархамов(7), юрий Ковалев(15)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Евгений Луценко(48), Гурам Аджоев(17)</p></div>
<div><p style="color:#00FF00">«Арсена́л» — российский профессиональный футбольный клуб из Тулы. Выступает в Премьер-лиге. Ранее в футбольных турнирах СССР и России Тулу представлял клуб под названием «Арсенал», история которого восходит к команде Оружейного завода (носившей также ряд других названий). В 2007 году данная команда перешла в статус любителей и несколько лет выступала в 3 дивизионе, на один сезон получив название «Оружейник», а после — «Арсенал-Тула». В 2011 году, ПФК «Арсенал» был восстановлен, и в 2012 году команда вернулась в систему профессиональных лиг.
Домашние матчи клуб проводит на стадионе «Арсенал» вместимостью 19 241 зритель</p></div>
</body>
</html>
