<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удинезе</title>
</head>
<body class="intro-header" style="background-image: url('static/img/udinese.jpeg')">
<h1><p style="color:#00FF00">Удинезе</p></h1>
 <div><p style="color:#00FF00">Тренер: Лука Готти</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Хуан Муссо(23)</p></div>
 <div><p style="color:#00FF00">Защитники: Йенс Ларсен(19), Уильям Трост-Эконг(5), Родриго Бекао(50), Брам Нюйтинг(17), Себастья Де Майо(87), Самир(3), Хидде Тер Авест(18), Марвин Зегелар(77)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Родриго де Пауль(10), Секо Фофана(6), Роландо Мадрагора(38), Кен Сема(12), Мато Яяло(8), Уолас(11)</p></div>
 <div><p style="color:#00FF00">Нападающие: Стефано Окака Чука(7), Илия Несторовски(30), Лукаш Теодорчик</p></div>
<div><p style="color:#00FFFF">«Удине́зе» (итал. Udinese) — итальянский футбольный клуб из города Удине, в одноимённой провинции в регионе Фриули. «Удинезе» основан в 1896 году и является старейшим после «Дженоа» клубом Италии. Традиционными для клуба являются футболки чёрно-белого цвета, чёрные трусы и белые гетры.</p></div>
</body>
</html>
