<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уфа</title>
</head>
<body class="intro-header" style="background-image: url('static/img/ufa.png')">
<h1><p style="color:#00FFFF">Уфа</p></h1>
 <div><p style="color:#00FFFF">Тренер: Вадим Евсеев</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Алексей Чернов(1), Александр Беленов(31)</p></div>
 <div><p style="color:#00FFFF">Защитники: Александр Сухов(33), Александр Пуцко(15), Павел Аликин(3), Боян Йокич(5), Дения Терентьев(9), Алексей Никитин(4)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Оливье Тилль(10), Каталин Карп(8), Артем Голубев(22), Данила Емельянов(23), Остон Урунов(6), Дмитрий Сысуев(7)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Вячеслав Кротов(57), Ловро Бизяк(11), Андрей Козлов(99), Гамид Агаларов(19)</p></div>
<div><p style="color:#FFFF00">«Уфа́» (башк. Өфө) — российский профессиональный футбольный клуб из Уфы. Основан 18 февраля 2009 года. С сезона 2014/2015 выступает в Российской премьер-лиге. Полуфиналист Кубка России сезона 2016/2017.</p></div>
</body>
</html>
