<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Унион Берлин</title>
</head>
<body class="intro-header" style="background-image: url('static/img/union.png')">
<h1><p style="color:#00FF00">Унион Берлин</p></h1>
 <div><p style="color:#00FF00">Тренер: Урс Фишер</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Рафал Гикевич(1)</p></div>
 <div><p style="color:#00FF00">Защитники: Кристофер Ленц(25), Марвин Фридрих(5), Невен Суботич(3), Михаэль Перенсен(29), Юлиан Рюэрслн(6), Кен Райхель(14)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Мариус Бюльтер(15), Роберт Андрих(30), Шералдо Беккер(27), Феликс Кроос(23), Гриша Премель(21), Йозуа Меес(8), Акакий Гогия(11)</p></div>
 <div><p style="color:#00FF00">Нападающие: Себастьян Андерсон(10), Себастьян Польтер(9), Энтони Уджа(11)</p></div>
<div><p style="color:#00FFFF">«Унион» (нем. 1. Fußballclub Union Berlin e. V.) — немецкий футбольный клуб, базирующимся в Кёпенике, Берлин. Клуб возник под своим нынешним названием в 1966 году, на базе «Унион Обершёневайде», основанного в 1906 году. Максимальным достижением, предшественника является 2-е место в чемпионате, в сезоне 1922/23. Также, клуб проводит домашний матчи, как и «Обершёневайде» на стадионе «Ан дер Альтен Фёрстерай» с 1923 года. Самом большом чисто футбольном стадионе Берлина.
Членами клуба, являются 35 145 человек. Благодаря чему, входит число 15 крупнейших спортивных организации Германии[de].
Наивысшими спортивными достижениями клуба, является победа в Кубке ГДР 1968 года и финал Кубка Германии в 2001 году, благодаря которому произошёл дебют в еврокубках. Также, команда является первой, кто отыграл 10 лет беспрерывно во Второй Бундеслиги (2-й уровень), с 2009 по 2019 годы. Выиграв в стыковых в играх у «Штутгарта» сезоне 2018/19, в завоевали право играть в Бундеслиге.
«Унион» — хорошо известен своей креативной фан-базой, оставившей свой след за пределами футбола и города. Гимном клуба является песня Нины Хаген Eisern Union (Железный союз).</p></div>
</body>
</html>
