<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Манчестер Юнайтед</title>
</head>
<body class="intro-header" style="background-image: url('static/img/united2.png')">
<h1><p style="color:#00FFFF">Манчестер Юнайтед</p></h1>
 <div><p style="color:#00FFFF">Тренер: Оле-Гуннар Сульшер</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Давид Де Хеа(1), Ли Грант(13), Серхио Ромеро(22)</p></div>
 <div><p style="color:#00FFFF">Защитники: Аарон Уан-Биссака(29), Аксель Туанзебе(38), Брэндон Уильямс(53), Виктор Линеделёф(2), Джеймс Гарнер(37), Диогу Далот(20), Люк Шоу(23), Тимоти Фосу-Менса(24), Фил Джонс(4), Харри Магуайр(5), Эрик Байи(3)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Андреас Перейра(15), Бруну Фернандеш(18), Джесси Лингард(14), Даниэл Джеймс(21), Немания Матич(31), Поль Погба(6), Скотт Мактоминэй(39), Фред(17), Хуан Мата(8), Эйнджел Гомес(28)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Антони Марсьяль(9), Маркус Рэшфорд(10), Мэйсон Гринвуд(26), Одион Игало(25), Таит Чонг(44)</p></div>
<div><p style="color:#FFFFFF">«Манче́стер Юна́йтед» (полное название — Футбольный клуб «Манчестер Юнайтед», англ. Manchester United Football Club; английское произношение: [ˈmæntʃɪstər ju:ˈnaɪtɪd 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из Траффорда, Большой Манчестер. Был основан в 1878 году под названием «Ньютон Хит (Ланкашир энд Йоркшир Рейлуэй)», в 1902 году изменил название на «Манчестер Юнайтед». Один из самых популярных футбольных клубов в мире. Один из основателей английской Премьер-лиги в 1992 году.
Домашний стадион «Юнайтед», «Олд Траффорд», был открыт в 1910 году. Он является крупнейшим после «Уэмбли» футбольным стадионом в Англии и вмещает около 75 тысяч зрителей.
«Манчестер Юнайтед» является одним из самых успешных английских клубов по количеству выигранных титулов за всю историю, а под руководством Алекса Фергюсона — самым успешным клубом в Англии, выиграв 38 трофеев с 1986 по 2013 год. В сезоне 2012/13 «Юнайтед» в рекордный 20-й раз стал чемпионом Англии. В 1968 году «Манчестер Юнайтед» стал первым английским клубом, выигравшим Кубок европейских чемпионов, победив в финале португальскую «Бенфику» со счётом 4:1. В 1999 году клуб во второй раз выиграл главный европейский клубный трофей, одолев в финале мюнхенскую «Баварию» со счётом 2:1. В 2008 году «Юнайтед» вновь выиграл Лигу чемпионов, обыграв в финале лондонский «Челси».
В 2019 году «Манчестер Юнайтед» занимал третье место по доходам среди всех футбольных клубов мира. В 2019 году Forbes оценивал клуб в 3,81 млрд долларов (3 млрд фунтов). Таким образом, «Манчестер Юнайтед» занимает шестое место в списке самых дорогостоящих спортивных клубов в мире и третье место в списке самых дорогостоящих футбольных клубов.
Традиционными соперниками команды являются <a href="http://127.0.0.1:8080/liverpool">Ливерпуль</a>, «Лидс Юнайтед» и <a href="http://127.0.0.1:8080/city">Манчестер Сити</a>, против которых разыгрываются северо-западное дерби, «дерби роз» и манчестерское дерби соответственно.</p></div>
</body>
</html>
