<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Урал</title>
</head>
<body class="intro-header" style="background-image: url('static/img/ural.jpeg')">
<h1><p style="color:#00FF00">Урал</p></h1>
 <div><p style="color:#00FF00">Тренер: Дмитрий Парфенов</p></div>
 <div><p style="color:#00FF00">Состав:</p></div>
 <div><p style="color:#00FF00">Вратари: Ярослав Годзюр(31), Олег Баклов(77)</p></div>
 <div><p style="color:#00FF00">Защитники: Денис Кулаков(15), Вараздат Ароян(3), Михаил Меркулов(27), Денис Поляков(19), Николай Золотов(35), Артем Мамин(4)</p></div>
 <div><p style="color:#00FF00">Полузащитники: Эрик Бикфалви(10), Николай Димитров(17), Рафал Аугустыняк(6), Михаил Кухарчик(18), Петрюс Бумаль(13), Роман Емельянов(8), Дмитрий Ефремов(11)</p></div>
 <div><p style="color:#00FF00">Нападающие: Андрей Панюков(20), Павел Погребняк(88), Артем Юсупов(79)</p></div>
<div><p style="color:#FF00FF">«Ура́л» — российский профессиональный футбольный клуб из Екатеринбурга. Выступает в РФПЛ. Основан в 1930 году. Один из старейших футбольных клубов России, ведущий свою историю с момента основания команды «Уралмашстрой» при Уральском заводе тяжёлого машиностроения, затем неоднократно менявший своё название.
В Высшей лиге СССР выступал в 1969 году, в Высшей лиге России (ныне — Российская премьер-лига) с 1992 по 1996 годы и с 2013. Участник финалов розыгрыша Кубка России 2016/17 и 2018/19, а также полуфинала Кубка Интертото 1996 года. Трёхкратный обладатель Кубка ФНЛ: 2012, 2013, 2018.
Главной домашней ареной клуба является «Екатеринбург Арена», реконструированная в рамках подготовки к чемпионату мира 2018 года. Во время реконструкции «Екатеринбург Арены» команда проводила матчи на стадионе «СКБ-Банк Арена» (бывшем стадионе «Уралмаш», реконструированном в 2014—2015 годах).
У клуба есть несколько прозвищ: оранжево-чёрные, шмели. Кроме того, с 2005 года шмель также является официальным талисманом команды/p></div>
</body>
</html>
