<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Валенсия</title>
</head>
<body class="intro-header" style="background-image: url('static/img/valencia.jpg')">
<h1><p style="color:#00FFFF">Валенсия</p></h1>
 <div><p style="color:#00FFFF">Тренер: Альберт Селадес</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Яспер(13), Жауме Доменек(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Даниэль Васс(18), Габриэл Паулиста(5), Хосе Гайя(14), Эсекиаль Гарай(24), Муктар Диакаби(12), Жауме Коста(3), Элиаким Мангаля(4), Алессандро Флоренци(25), Кристиано Пиччини(21), Тьери Коррейя(2), Уго Гильямон(33)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Даниэль Парехо(10), Ферран Торрес(20), Франсис Коклен(17), Карлос Солер(8), Денис Черышев(11), Жоффе Кондогбиа(6), Ли Кан Ин(16), Гонсалу Гедеш(7), Ману Вальехо(15), Висенте(34)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Макси Гоиес(22), Родриго(19), Кевин Гамейро(9), Рубен Сабрино(23)</p></div>
<div><p style="color:#00FF00">«Вале́нсия» (вал. València Club de Futbol, исп. Valencia Club de Fútbol) — испанский профессиональный футбольный клуб из одноимённого города, выступающий в испанской Примере. Образован в 1919 году. Домашним стадионом клуба является «Месталья», построенная в 1923 году и вмещающая 55 000 зрителей. Однако команда планирует в ближайшее время переехать на строящийся в данный момент стадион «Новая Месталья» (исп. Nuevo Mestalla), рассчитанный на 75 000 зрителей.
«Валенсия» 6 раз выигрывала национальное первенство по футболу. Последний триумф датирован 2004 годом. В исторической классификации дивизиона Примера клуб занимает четвёртое место — сразу после «Реала», «Барселоны» и «Атлетико».
В начале сезона 2006/07 «Валенсия» в списках самых богатых клубов мира занимала 17-ю строчку. В рейтинге лучших европейских клубов «Валенсия» регулярно находится в первой десятке. С 2002 по 2008 год — член организации европейский футбольных клубов G-14.</p></div>
</body>
</html>
