<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Реал Вальядолид</title>
</head>
<body class="intro-header" style="background-image: url('static/img/vallad.png')">
<h1><p style="color:#FF0000">Реал Вальядолид</p></h1>
 <div><p style="color:#FF0000">Тренер: Серхио Гонсалес Сориано</p></div>
 <div><p style="color:#FF0000">Состав:</p></div>
 <div><p style="color:#FF0000">Вратари: Жорди Масип(1)</p></div>
 <div><p style="color:#FF0000">Защитники: Мохаммед Солису(27), Начо Мартинес(22), Рауль Гарсия(6), Кико Оливас(4), Хоакин Фернандес(24), Хиви Мойяно(17), Педро Порро(2), Антоньитто(18)</p></div>
 <div><p style="color:#FF0000">Полузащитники: Мичел(21), Рубен Алькарас(14), Тони Вилья(19), Пабло Эрвиас(15), Вальдо Рубио(23), Феде Сан-Эметерио(22), Хатем Бен-Арфа(3)</p></div>
 <div><p style="color:#FF0000">Нападающие: Серхи Гвардиола(7), Оскар Плано(10), Энес Унал(9), Сандро Рамирес), Мигель де ла Фуэнте(29)</p></div>
<div><p style="color:#000000">«Реа́л Вальядоли́д» (исп. Real Valladolid CF) — испанский футбольный клуб из одноимёного города, в одноимённой провинции в автономном сообществе Кастилия-Леон. Основан 20 июня 1928 года. В настоящее время клуб выступает в Испанской Примере.
На счету команды победа в Кубке Испанской лиги в сезоне 1983/84, выход в квалификацию Кубка обладателей кубков УЕФА в 1989/90, выход в первый раунд кубка УЕФА в 1984/85, во второй раунд кубка УЕФА в 1997/98, четвертое место в чемпионате в 1962/63. «Реал Вальядолид» провел более 40 сезонов в Примере), более 30 сезонов в Сегунде и 10 сезонов в Терсере. Цвета основной формы: белый, фиолетовый; цвет гостевой формы: красный. «Хосе Соррилья», домашний стадион клуба, вмещает более 26 тысяч зрителей.</p></div>
</body>
</html>
