<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Верона</title>
</head>
<body class="intro-header" style="background-image: url('static/img/verona2.png')">
<h1><p style="color:#FFFFFF">Верона</p></h1>
 <div><p style="color:#FFFFFF">Тренер: Иван Юрич</p></div>
 <div><p style="color:#FFFFFF">Состав:</p></div>
 <div><p style="color:#FFFFFF">Вратари: Марко Сильвестри(1)</p></div>
 <div><p style="color:#FFFFFF">Защитники: Давиде Фараони(5), Мараш Кумбула(24), Павел Давидович(27), Амир Ррахмани(13), Корай Гюнтер(21), Сальваторе Бокетти(15), Алан Эмперор(33), Клод Аджапонг(98), Федерико Димарко(23)</p></div>
 <div><p style="color:#FFFFFF">Полузащитники: Маттиа Дзакканьи(20), Дарко Лазович(88), Мигел Велозу(4), Маттео Пессина(32), Валерио Верре(14), Фабио Борини(16), Софьян Амрабат(34), Эммануэль Агеманг-Баду(7), Андреа Данци(25), Валантен Эссерик(8)</p></div>
 <div><p style="color:#FFFFFF">Нападающие: Джампаоло Паццини(11), Самуэль Ди Кармине(10), Мариуш Стемпиньски(9), Эдди Сальседо(29)</p></div>
<div><p style="color:#FF00FF">«Эллас Верона» (итал. Hellas Verona) — итальянский футбольный клуб из города Верона. Основные цвета футбольной формы клуба — жёлтый и синий. Эмблема команды содержит герб города Вероны.</p></div>
</body>
</html>
