<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вильярреал</title>
</head>
<body class="intro-header" style="background-image: url('static/img/vill.png')">
<h1><p style="color:#00FFFF">Вильярреал</p></h1>
 <div><p style="color:#00FFFF">Тренер: Хавьер Кальеха</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Серхио Асенхо(1), Андрес(13)</p></div>
 <div><p style="color:#00FFFF">Защитники: Пау Торрес(4), Рубен Пенья(20), Хави Кинтилья(16), Рауль Альбиоль(3), Марио Гаспар(2), Альберто Морено(18), Рамиро Фунес Мори(6)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Санти Косорла(8), Мойсес Гомес(23), Сэмюэль Чуквуэзе(11), Мануэль Тригерос(14), Ханьер Онтиверос(24), Андре-Франк(19), Вмсенте Иборра(10), Мануэль Морланес(15)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Жерар Морено(7), Пако Алькасер(17), Карлос Бакка(9), Фернандо Ниньо(34)</p></div>
<div><p style="color:#FFFF00">«Вильярреа́л» (исп. Villarreal CF) — испанский профессиональный футбольный клуб из одноимённого города в провинции Кастельон автономного сообщества Валенсия.</p></div>
</body>
</html>
