<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Астон Вилла</title>
</head>
<body class="intro-header" style="background-image: url('static/img/villa.jpg')">
<h1><p style="color:#00FFFF">Астон Вилла</p></h1>
 <div><p style="color:#00FFFF">Тренер: Дин Смит</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Джед Стир(12), Матия Шаркич(31), Том Хитон(1), Хосе Рейна(29), Эрьян Нюланд(25)</p></div>
 <div><p style="color:#00FFFF">Защитники: Ахмед Аль-Мухаммади(27), Бьорн Энгельс(22), Кортни Хоз(30), Мэтт Таргетт(18), Нил Тэйлор(3), Тайрон Мингз(40), Фредерик Гильбер(24), Эзри Конса(15)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Анвар Эль-Гази(21), Генри Лэнсбери(8), Джек Грилиш(10), Джон Макгинн(7), Дуглас Луис(6), Дэниэл Дринкуотер(4), Индиана Василев(36), Конор Хурихэйн(14), Марвелус Накамба(11), Трезеге(17), Хота(23)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Борха Бастон(19), Кинан Дэвис(39), Мбвана Саматта(20), Уэсли(9)</p></div>
<div><p style="color:#FFFF00">«А́стон Ви́лла» (полное название — Футбольный клуб «Астон Вилла», англ. Aston Villa Football Club, английское произношение: ['æstən ˈvɪlə 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из Бирмингема, графство Уэст-Мидлендс. Был основан в 1874 году. Является одним из 12 клубов-основателей Футбольной лиги Англии в 1888 году. С 1897 года выступает на стадионе «Вилла Парк», вмещающем более 42 тысяч зрителей и входящем в десятку самых вместительных стадионов Англии. С 1992 года по 2016 год клуб выступал в Премьер-лиге, став одним из её 22 основателей. В 2016 году клуб был продан американским предпринимателем Рэнди Лернером китайской компании Recon Group. По итогам сезона 2018/19 выиграл плей-офф Чемпионшипа и вернулся в Премьер-лигу, высший по значимости дивизион в системе футбольных лиг Англии.
Один из старейших и самых титулованных клубов Англии: на счету «Астон Виллы» семь чемпионских титулов Первого дивизиона и семь побед в Кубке Англии. «Астон Вилла» также является одним из пяти английских клубов, выигравших Кубок чемпионов. Главным соперником «Астон Виллы» является «Бирмингем Сити», с которым разыгрывается бирмингемское дерби. Традиционными цветами клуба являются бордовые футболки с лазурными рукавами, белыми шортами и лазурными гетрами. На эмблеме клуба изображён золотой лев, стоящий на задних лапах, на голубом фоне, с девизом «Prepared» («Готов»)</p></div>
</body>
</html>
