<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уотфорд</title>
</head>
<body class="intro-header" style="background-image: url('static/img/watford.jpg')">
<h1><p style="color:#00FFFF">Уотфорд</p></h1>
 <div><p style="color:#00FFFF">Тренер: Найджел Пирсон</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Бен Фостер(26), Даниэль Бахманн(35), Эурелио Гомес(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Адам Мазина(11), Адриан Мариаппа(6), Дарил Янмат(2), Кико Фемения(21), Кристиан Кабаселе(27), Крэйг Доусон(4), Крэйг Кэткарт(15), Хосе Холебас(25)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Абдулай Дукуре(16), Айзек Саксесс(22), Домингуш Кина(20), Игнасио Пуссетто(33), Исмаила Сарр(23), Натаниэль Чалоба(14), Роберто Перейра(37), Том Деле-Баширу(24), Том Клеверли(8), Уилл Хьюз(10), Этьен Капу(29)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Дэнни Уэлбек(10), Жерар Деулофеу(7), Жоао Педро(17), Трой Дини(9), Эндри Грэй(18)</p></div>
<div><p style="color:#00FF00">«Уо́тфорд» (полное название — Футбольный клуб «Уотфорд», англ. Watford Football Club, английское произношение: [ˈwɒtfərd 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из Уотфорда, графство Хартфордшир, Восточная Англия. В настоящее время выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии. Был основан в 1881 году под названием «Уотфорд Роверс» (Watford Rovers).
Высшими достижениями клуба являются 2-е место в высшем английском дивизионе в сезоне 1982/83 и финал Кубка Англии сезона 1983/84.
Домашним стадионом «Уотфорда» с 1922 года является «Викаридж Роуд».</p></div>
</body>
</html>
