<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вердер</title>
</head>
<body class="intro-header" style="background-image: url('static/img/werder2.jpg')">
<h1><p style="color:#00FFFF">Вердер</p></h1>
 <div><p style="color:#00FFFF">Тренер: Флориан Кофельдт</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Иржи Павленка(23), Стефанос Капино(27)</p></div>
 <div><p style="color:#00FFFF">Защитники: Марко Фридль(32), Никлас Мойсандер(18), Людвиг Аугустинсон(5), Милош Велькович(13), Омер Топрак(21), Михаэль Ланг(4), Кевин Фогт(3)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Милот Рашица(7), Леонардо Битенкур(10, Нури Шахин(17), Беньямин Голлер(39), Фин Бартельс(22), Кевин Мевальд(6)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Юя Осако(8), Никлас Фюлькруг(11), Клаудио Писсаро(14), Дави Зельке(9)</p></div>
<div><p style="color:#FFFF00">«Ве́рдер» (нем. Sportverein Werder Bremen) — немецкий футбольный клуб из города Бремен, основанный в 1899 году. 4-кратный чемпион Германии, обладатель 6-ти кубков Германии по футболу. Цвета клуба — бело-зелёные. Девиз — «lebenslang grün-weiß» (с нем. — «навсегда бело-зелёный»).</p></div>
</body>
</html>
