<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вэст Хэм</title>
</head>
<body class="intro-header" style="background-image: url('static/img/west1.png')">
<h1><p style="color:#00FFFF">Вэст Хэм</p></h1>
 <div><p style="color:#00FFFF">Тренер: Дэвид Мойес</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Даррен Рэндолф(35), Джозеф Ананг(49), Дэвид Мартин(25), Лукаш Фабианьски(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Аарон Крессуэлл(3), Анджело Огбонна(21), Артюр Масуаку(26), Бен Джонсон(53), Гонсалу Кардозу(20), Джереми Нгакиа(52), Исса Диоп(23), Пабло Сабалета(5), Райан Фредерикс(24), Фабиан Бальбуэна(4)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Андрей Ярмоленко(20), Бернардо Роза, Деклан Райс, Джек Уилшер(19), Джеррод Боуэн(17), Карлос Санчес(15), Мануэль Лансини, Марк Нобл(16), Микаил Антонио(30), Пабло Форнальс(18), Роберт Снодграсс(11), Томаш Соучек(22), Фелипе Андерсон(8)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Альбиан Айети(27), Себастьян Аллер(22), Шанде Силва(32)</p></div>
<div><p style="color:#FFFF00">«Вест Хэм Юна́йтед» (полное название — Футбольный клуб «Вест Хэм Юнайтед», англ. West Ham United Football Club, английское произношение: [west hæm ju:ˈnaɪtɪd 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из Стратфорда, Восточный Лондон. Выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии.
Клуб был основан в 1895 году под названием «Темз Айронуоркс», а в 1900 году изменил название на «Вест Хэм Юнайтед». С 1904 по 2016 годы команда выступала на стадионе «Болейн Граунд» (также известном как «Аптон Парк»). С 2016 года команда выступает на стадионе «Лондон» (до 2016 года известном под названием «Олимпийский стадион»).
«Вест Хэм Юнайтед» выступает в рамках Футбольной лиги Англии с 1919 года. В 1923 году клуб впервые вышел в высший дивизион. Команда трижды выигрывала Кубок Англии (в 1964, 1975 и 1980 годах). В 1965 году клуб выиграл Кубок обладателей кубков. В 1999 году «Вест Хэм Юнайтед» выиграл Кубок Интертото.
Прозвище клуба — «молотобойцы» (The Hammers) — является отсылкой к команде «Темз Айронуоркс», которая состояла из работников судостроительного и металлургического завода на Темзе. Это также нашло отражение на клубной эмблеме, где изображены молотки.</p></div>
</body>
</html>
