<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вольфсбург</title>
</head>
<body class="intro-header" style="background-image: url('static/img/wolf.jpeg')">
<h1><p style="color:#FFFFFF">Вольфсбург</p></h1>
 <div><p style="color:#FFFFFF">Тренер: Оливер Гласнер</p></div>
 <div><p style="color:#FFFFFF">Состав:</p></div>
 <div><p style="color:#000000">Вратари: Кун Кастельс(1), Лино Кастен(35), Никлас Клингер(30), Павао Перван(12), Филлип Менцель(36)</p></div>
 <div><p style="color:#000000">Защитники: Виллиам(2), Джон Брукс(25), Жером Руссийон(15), Кевин Мбапу(19), Марин Понграчич(22), Марсель Тиссеран(32), Пауло Отавио(6), Робин Кнохе(31)</p></div>
 <div><p style="color:#000000">Полузащитники: Жоао Виктор(40), Жозуа Гилавоги(23), Иба Май(44), Игнасио Камачо(4), Исмаил Аззауи(38), Йосип Брекало(7), Ксавер Шлагер(24), Лука Хорн(20), Максимилиан Арнольд(27), Ренато Штеффен(8), Феликс Клаус(11), Янник Герхардт(13)</p></div>
 <div><p style="color:#000000">Нападающие: Адмир Мехмеди(14), Ваут Вегорст(9), Даниэль Гинчек(33), Мамуду Карамоко(37)</p></div>
<div><p style="color:#000000">«Во́льфсбург» (нем. Verein für Leibesübungen Wolfsburg e.V.) — немецкий профессиональный футбольный клуб из одноимённого города, участник Бундеслиги, чемпион Германии сезона 2008/09. Часть системы спортивного клуба «Вольфсбург».</p></div>
</body>
</html>
