<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вулверхэмтон</title>
</head>
<body class="intro-header" style="background-image: url('static/img/wolves8.png')">
<h1><p style="color:#00FFFF">Вулверхэмтон</p></h1>
 <div><p style="color:#00FFFF">Тренер: Нуну Эшпириту Санту</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Джон Радди(21), Руй Патрисиу(11)</p></div>
 <div><p style="color:#00FFFF">Защитники: Вилли Боли(15), Конор Коуди(16), Макс Килмен(49), Мэтт Доэрти(2), Оскар Бурр(59), Рубен Винагре(29), Хони Кастро(19)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Адама Траоре(37), Бруну Жордау(6), Даниэл Поденсе(10), Жоау Моутинью(28), Леандер Дендонкер(32), Люк Кандл(68), Меритан Шабани(57), Морган Гиббс-Уайт(17), Оуэн Отасоуи(54), Педру Нету(7), Ромен Саисс(27), Рубен Невеш(8), Тэйлор Перри(26), Энзо Луаодис(12)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Диогу Жота(18), Леонардо Кампана(30), Рауль Хименес(9)</p></div>
<div><p style="color:#FFFF00">«Вулверхэ́мптон Уо́ндерерс» (полное название — Футбольный клуб «Вулверхэмптон Уондерерс», англ. Wolverhampton Wanderers Football Club, английское произношение: [wʊlvərˈhæmptən 'wɔndərəz 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из города Вулвергемптон, графство Западный Мидленд. Образован в 1877 году под названием «Сент-Люкс» (англ. St. Luke’s). Домашним стадионом клуба с 1889 года является «Молинью», в настоящее время вмещающий более 32 тысяч зрителей.
«Вулверхэмптон» является одним из основателей Футбольной лиги в 1888 году. Клуб является трёхкратным чемпионом Англии, трёхкратным обладателем Кубка Англии и двукратным победителем Кубка Футбольной лиги.
В настоящее время выступает в Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии.
Принципиальным соперником команды является «Вест Бромвич Альбион», матчи против которого носят название дерби Чёрной страны.</p></div>
</body>
</html>
