<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Зенит</title>
</head>
<body class="intro-header" style="background-image: url('static/img/zenit.jpg')">
<h1><p style="color:#00FFFF">Зенит</p></h1>
 <div><p style="color:#00FFFF">Тренер: Сергей Семак</p></div>
 <div><p style="color:#00FFFF">Состав:</p></div>
 <div><p style="color:#00FFFF">Вратари: Андрей Лунев(1)</p></div>
 <div><p style="color:#00FFFF">Защитники: Вячеслав Караваев(15), Бранислав Иванович(5), Дуглас Сантос(3), Игорь Смольников(19), Ярослав Ракицкий(44), Йордан Осорио(4), Эммануэль Маммана(24)</p></div>
 <div><p style="color:#00FFFF">Полузащитники: Магомед Оздоев(27), Олег Шатов(17), Александр Ерохин(21), Малком(8), Барриос(5), Далер Кузяев(14), Эмилиано Ригони(10)</p></div>
 <div><p style="color:#00FFFF">Нападающие: Сердар Азмун(7), Себастьян Дриусси(11)</p></div>
<div><p style="color:#FF0000">«Зени́т» — советский и российский футбольный клуб из Санкт-Петербурга, выступающий в премьер-лиге. Чемпион СССР 1984, пятикратный чемпион России, обладатель Кубка СССР 1944, трёхкратный обладатель Кубка России, обладатель Кубка сезона 1985, четырёхкратный обладатель Суперкубка России, обладатель Кубка Премьер-лиги 2003, обладатель Кубка УЕФА 2007/08, обладатель Суперкубка УЕФА 2008.</p></div>
</body>
</html>
